[2018-09-27 17:10] gino-m opened #2 "[Record List] Record list broken on back when tab > 0 selected"
Repro:
1. Open a project with a feature type with >1 form
1. Add place, select 2nd tab (form), click "Add Record"
1. Click back

Results don't show, clicking add record adds the wrong form (form 0).

[2018-10-11 04:27] gino-m opened #3 "[Home] Back from home screen or nav drawer shows white screen"

[2018-11-17 00:28] gino-m opened #5 "[Edit Record] Save button sometimes has no effect"
When many users are adding data, "Save" button sometimes stops working. Users observed this at G4G18 when editing the 'frogs' test project.

[2018-11-17 00:30] gino-m opened #6 "[Feature sheet] Bottom sheet collapses on back from record details"
Map becomes unusable since map is never unlocked

[2018-11-17 00:32] gino-m opened #7 "[Code health] Add essential Javadoc throughout"
Needed to help scale the effort and collaborate

[2018-11-18 06:33] gino-m opened #8 "[Datastore] Ignore invalid or incomplete data in Firebase"
Motivation: Once first Android binaries are rolled out, we won't be able to make breaking changes to the database. Making client more resilient to invalid or missing data in Firebase will allow us more flexibility in adding and deprecating features in the db

[2018-11-18 06:35] gino-m opened #9 "[Code health] Refactor remaining logic out of Fragments into ViewModels"
This will facilitate testing and improve consistency across UI implementations.

[2018-11-18 06:57] gino-m opened #10 "[Offline imagery] UI for managing offline areas"
Allows download of selected mbtiles for offline use. Related to #113.

[2018-11-18 18:09] gino-m opened #11 "[Code health] Rename Place(Type) to Feature(Type) throughout"
Backpeddling on this one after looking at other related tools and after feedback at G4G18. "Feature" is also more correct, since it includes any type of entity on a map, whereas "Place" can be misunderstood as a single point instead of any arbitrary feature (polygons, polylines, etc.).

[2018-11-18 18:10] gino-m opened #12 "[Code health] Add unit tests for all business logic"

[2018-11-18 18:14] gino-m opened #13 "[Performance] Ensure background tasks are not run on UI thread"
Multiple warnings appear in log when strict mode is enabled that Firebase is being run on wrong thread. This could lead to sluggishness on older devices, or worse, force quits. Should be fixed ASAP.

[2018-11-18 18:16] gino-m opened #14 "[Code health] Consistent naming for project metadata and related value objects"
We sometimes use "labels" plural vs. "title" singular, for ex, to describe localized string maps. We should always use the plural here for clarity and consistency.

[2018-11-18 18:52] gino-m opened #15 "[Offline support] Allow user to add/remove accounts for offline use"
The prototype currently requests sign-in when opening the app. If the user signs out while offline, the app currently becomes unusable, since there's no way to log back in. In order to properly support offline use, account tokens will likely need to be stored locally.

- [ ] Ensure workers connect to remote using user initiating mutation, not current user
- [ ] When user removed, also remove all p

[2018-11-19 00:24] gino-m opened #16 "[Offline support] Allow user to join/leave multiple projects"
Project definitions would need to be explicitly stored locally so user can switch projects when offline.

Blocked by #19.

[2018-11-19 00:28] gino-m opened #17 "[Offline support] Add Android Service for bi-directional data sync"

[2018-11-19 00:34] gino-m opened #18 "[Offline support] Upload new and modified features and records in background"
Blocked by #17.

[2018-11-19 00:34] gino-m opened #19 "[Offline support] Store Feature and Record snapshots and mutations locally"
Will need to use Room 2.1.0 to allow Room annotations on AutoValue value objects. This may require updating to Android X:
https://stackoverflow.com/questions/44869545/android-room-persistence-library-entity-with-autovalue

Blocking #15, #16, #17, #18.

[2018-11-19 00:35] gino-m opened #20 "[Offline support] Download offline raster basemaps in background service"
Blocked by #18, #19.

[2018-11-19 00:40] gino-m opened #21 "[Offline support] Download changes to survey (jobs, LOIs, etc) in background"
- [ ] Show message when job definitions change (tasks) w/option to reload or postpone.
- [ ] Show notification when LOIs are added, add to map.

[2018-11-19 00:55] gino-m opened #22 "[ACLs] Respect ACLs set by project manager in Web Console"
Blocked by google/gnd-cloud#17

[2018-11-19 01:23] gino-m opened #23 "[Edit record] Add support for Number fields"

[2018-11-19 02:09] gino-m opened #24 "[Code health] Update usage of Rx streams to stop accumulating subscriptions"
In many cases we subscribe to a Completable, Single, or Maybe, and keeping around the Disposable for the lifetime of the component (ViewModel, View), leaking memory.

Example:
https://github.com/google/gnd-android/blob/5d87d022dd6e08a308309c93a34dc2ad97a5e195/gnd/src/main/java/com/google/android/gnd/ui/recorddetails/RecordDetailsViewModel.java#L42-L45

Rather than subscribing to the returned Maybe

[2018-11-24 21:49] #11 closed

[2018-11-24 21:51] gino-m commented on #11
Note: this makes related names like "feature sheet" a little unfriendlier. Suggestions/PRs for cases like these welcome.

[2018-11-24 23:04] gino-m opened #25 "[Code health] Split DataRespository into multiple repository classes"

[2018-11-26 03:58] gino-m commented on #24
Fixed for location lock in commit d7031ea5ac697a5b9abf56391ca5f201b7b592f9.

[2018-12-06 20:10] gino-m opened #26 "[Docs] Add instructions to fork and pull to start of README"

[2018-12-07 16:26] gino-m opened #27 "[Onboarding] When Play Services install fails, login fails w/o way to resolve issue"

[2018-12-07 16:27] gino-m opened #28 "[Onboarding] Ground screen blank after completing Play Service install flow"

[2018-12-07 16:31] gino-m opened #29 "[Signin] Signin fails with "Signin unsuccessful""
In emulator with Nexus 5X, Play Services 14.7.99

[2018-12-07 16:31] gino-m opened #30 "In-app bug reporting"

[2018-12-09 19:23] gino-m opened #31 "[Add/view/edit observation] Show thumbnail map below header"
Once "view observation" intents are supported, the user will also need the map to have some context.

[2018-12-11 19:16] gino-m opened #32 "[Docs] Ensure SHA-1 is added to both "API keys" and "OAuth 2.0" sections of Cloud Dashboard"

[2018-12-11 19:21] gino-m opened #33 "[Add feature] Hide "Add" button when project has no user-editable layers"

[2018-12-21 16:32] scolsen opened #35 "Document issue creation process"
Once we've determined the best process for creating new issues, we should document it in CONTRIBUTING.md (On the issues page, a message from github recommends reading this file prior to creating an issue, so it makes sense to include issue creation guidelines here).

Should we decide *not* to document this process, we can capture discussions on the matter here and close this issue once it's settle

[2019-01-11 00:01] #26 closed

[2019-01-25 13:18] mtariquekhan opened #36 "Bottom sheet Expanding and collapsing too fast."
Whenever I set the state of the Bottom Sheet to expand mode then it gets expanded too fast.
Is there any way to control the expanding and collapsing animation speed?

[2019-03-08 16:28] scolsen commented on #7
This would definitely help! I can start on this as I'm starting to learn the codebase.

[2019-03-08 16:38] gino-m commented on #7
That would be great! Perhaps we can start with class descriptions, and add
Javadoc to public methods as we do the cleanups/refactors?

On Fri, Mar 8, 2019 at 11:28 AM Scott Olsen <notifications@github.com>
wrote:

--

Gino Miceli |  Software Engineer |  gmiceli@google.com |  Local Search UI
Team

[2019-03-08 16:44] scolsen commented on #7
That sounds good, have any classes you'd like to prioritize?

[2019-03-08 16:48] gino-m commented on #7
Not specifically; anything that isn't immediately clear from its package
and name, perhaps.

On Fri, Mar 8, 2019 at 11:44 AM Scott Olsen <notifications@github.com>
wrote:

--

Gino Miceli |  Software Engineer |  gmiceli@google.com |  Local Search UI
Team

[2019-03-23 18:45] gino-m commented on #29
@navinsivakumar was this a configuration issue iiuc? Ok to close this one?

[2019-03-24 01:36] gino-m commented on #36
Hi @mtariquekhan, do you mean when you swipe up it snaps to full height? If so that's by design; we do this to avoid the map showing too few pixels of vertical height, in which case it might be confusing and/or not useful.

If that's not it, please feel free to attach a screen capture and I can try to diagnose further.

[2019-03-24 01:38] gino-m commented on #24
Assigning to you as well since it seems you're already working on this.

[2019-03-24 01:39] gino-m commented on #19
Filed https://issuetracker.google.com/issues/129183837 to avoid needing to add create() methods to all @Entity classes, for which we already have AutoValue Builders.

[2019-03-25 14:14] navinsivakumar commented on #29
Yes, just a configuration issue in my dev environment.

[2019-03-25 14:14] #29 closed

[2019-03-26 01:46] gino-m commented on #19
@navinsivakumar @scolsen, for the CREATE, UPDATE, and DELETE queue stored in the local database, do you prefer the -Edit suffix (FeatureEdit, RecordEdit, etc.), -Operation (FeatureOperation, RecordOperation), or something else? Thoughts?
 
_There are 2 hard problems in computer science: cache invalidation, naming things, and off-by-1 errors._ ~Leon Bambrick

[2019-03-26 05:11] gino-m commented on #19
FYI, committed first working test to my fork:
https://github.com/gino-m/ground-android/commit/24740a2041abc8f239b90c6fcf590e6cd91a46e5

@navinsivakumar, I'll send a PR once db entity classes are in so you can start referencing them in the remote sync impl. Like the *Doc objects I defined for Firebase, these are defined independently of value objects (`.vo` package) to allow us to use the best suit

[2019-03-26 14:22] scolsen commented on #19
Edit is nice because it's shorter, but slightly susceptible to misinterpretation since edit ~= modify in the stricter sense of alter the properties of an existing entity (i.e. what "update" means). My natural interpretation of the word 'Edit' doesn't include "create" or "delete", but it's a small adjustment. If we're only talking CRUD operations, I don't think it's that confusing once you encounte

[2019-03-26 18:28] gino-m commented on #19
+1 to all of the above. -Action is an overloaded term, and has [special meaning](https://developer.android.com/guide/actions) in the Android domain. I also agree that Edit could be misinterpreted for just UPDATE operation, and not CREATE or DELETE. As you said, the meaning of -Op might not be immediately obvious. Leaning towards -Operation.

@navinsivakumar wdyt?

[2019-03-27 16:50] navinsivakumar commented on #19
I prefer "edit" (with a synonym like "mutation" in second place). "Operation" sounds to me like an object representing a long-running operation.

[2019-03-27 16:57] gino-m commented on #19
The though also crossed my mind (Operation vs Mutation). Since there's no strong preference let's keep it as-is in the current designs and branch (-Edit).

[2019-03-28 18:34] gino-m commented on #19
Also, are you both cool with the suffix -Entity to differentiate database entities (annotated with @androidx.room.Entity) and shared value objects in our data model (e.g. FeatureEntity vs Feature)? Both will be referenced from the DataRepository, and it would would be a bore to fully qualify their package names everywhere..

[2019-03-28 19:00] navinsivakumar commented on #19
Works for me.

[2019-03-28 19:37] scolsen commented on #19
Sounds good to me as well!

[2019-03-28 20:39] navinsivakumar commented on #19
Semi-related: is the class name of the database entity persisted in some way (e.g. part of the Room schema), or can we refactor that relatively easily (without a db migration) in the event we need change names?

(I *am* confident enough about Entity as a name that I'm not too worried either way, but want to get a sense for how much of a commitment we are making here.)

[2019-03-28 21:24] gino-m commented on #19
Room uses the class name to determine the table name by default; we'll be sure to explicitly specify the table names, so tables will be called "feature", "record", "feature_edit", etc. without the -Entity moniker.

[2019-03-29 18:19] gino-m opened #42 "[Docs] Add note to create branches to READMEs"
Mentioning that PRs are automatically updated when pushing to a branch with an active PR.

[2019-03-31 14:32] gino-m opened #43 "[Code health] Make Coordinate in FeatureEntity @Embedded"
..and remove individual `latitude` and `longitude` fields. This won't change the structure of the database since `@Embedded` flattens objects into columns in the same table, but would prevent us from needing to copy the two fields between `Coordinates` and `FeatureEntity`.

Blocked by https://issuetracker.google.com/issues/129572967

[2019-03-31 15:33] gino-m commented on #43
Upgrading AutoValue from 1.6 to 1.6.3 resolved this issue for me. With AutoValue 1.6, I was also seeing "error: An entity must have at least 1 field annotated with @PrimaryKey". Upgrading to 1.6.3 resolved that issue as well!

[2019-03-31 15:33] #43 closed

[2019-04-01 20:18] #42 closed

[2019-04-05 00:41] gino-m commented on #19
Forking discussion from #44 👍

Thanks for the replies on #44. @scolsen, your understanding is correct, that's what I was proposing. I also  share @navinsivakumar's concerns about persisting shared objects from the canonical model in the local db. Let me try to break down the different data models we have today, and how the Db layer might be scoped:

1. [Value objects](https://github.com/google/gro

[2019-04-05 04:30] gino-m opened #46 "[Code health] Remove create() method from Room AutoValue objects"
create() method is currently required by room. Filed an FR against Room FR to use the builder directly:
https://issuetracker.google.com/issues/129183837

[2019-04-06 22:12] gino-m opened #47 "[Code health] Add automated checks for code formatting"
We're currently using google-java-format in Android Studio.

[2019-04-10 18:38] gino-m commented on #10
Thanks for taking this one on @scolsen.

Some mocks for reference:
![image](https://user-images.githubusercontent.com/228050/55904574-2f6ace80-5b9e-11e9-94b5-b14be289eae1.png) ![image](https://user-images.githubusercontent.com/228050/55904591-3560af80-5b9e-11e9-8a19-a997fcb9b768.png) ![image](https://user-images.githubusercontent.com/228050/55904618-47425280-5b9e-11e9-8b50-9f26836d6af0.png)

Pleas

[2019-04-12 03:50] gino-m opened #50 "[Code health] Add explicit nullness checking"
Set up lint or compile errors

[2019-04-12 03:55] gino-m opened #51 "[Code health] Consolidate local and remote db services"
Currently, local db impl using Room lives in `com.google.android.gnd.repository.local`.

The remote db interface is in `com.google.android.gnd.service.RemoteDataService`, with Firestore impl under `com.google.android.gnd.service.firestore`.

This is inconsistent and arbitrary. I would suggest renaming and moving as follows:
* Remote db interface: `com.google.android.gnd.service.remotedb.RemoteDbSe

[2019-04-12 15:56] navinsivakumar commented on #51
Works for me. (And it's "just code", right? So it shouldn't be too hard to move things around later, with the help of an IDE/refactoring tools.)

[2019-04-12 15:56] gino-m commented on #51
That's right. Just want to get it close to right since moving and renaming can create big ugly PRs. Thanks!

[2019-04-14 20:27] gino-m commented on #19
FYI @navinsivakumar, We'll likely need to maintain both local and remote ids in the local datastore. Unique IDs can be generated while offline by adding a document via the Firestore API (https://firebase.google.com/docs/firestore/manage-data/add-data), which in theory we shouldn't be calling from the local db store layer. My next PRs will include two IDs to keep the two layers (local and remote st

[2019-04-17 23:30] gino-m opened #57 "[Offline support] Support two way offline data sync"
Blocked by #19, #132, #133.

[2019-04-19 03:04] gino-m commented on #18
@navinsivakumar, any ideas on what the API for reading/updating the local queue should look like? There's a draft of other methods for populating the db and queue in PR #60, but it doesn't define how the background sync service will use it.

One option would be to create a single object that groups a `FeatureEdit` and any related `RecordEdit`s, but considering features and records will be saved se

[2019-04-20 17:59] gino-m opened #61 "[Map] Can't pan or zoom after saving new record"
Observed in branches in issue-57/

[2019-04-20 21:50] gino-m commented on #36
Can't reproduce so marking closed for now. If you can provide more details happy to investigate.

[2019-04-20 21:50] #36 closed

[2019-04-26 16:45] scolsen opened #67 "Keep RX Streams as "Pure" as Possible?"
At the moment, there are some places in which streams and so called "side effects" (operations that use some value from the stream but *don't* modify the stream's contents i.e. aren't operations like map, and co.)  are intermingled. For example, the `addFeatureDialogFragment.show` function:

[code]

does two things: it calls show on the fragmentManager, and returns an entirely new PublishSubject:

[2019-04-26 16:45] scolsen commented on #67
@gino-m @navinsivakumar

[2019-04-26 17:45] gino-m commented on #67
The idea here was that the Maybe returned to `show()` would complete with the outcome of the dialog. The fact we create a new `Subject` every time is probably a smell, or at least an incorrect implementation.

To your point about not changing the streams, this particular example does, in fact; it starts out with just a click, and then ends up with a new `Feature` created by the new feature dialog

[2019-04-26 18:12] scolsen commented on #67
Ahhhhh, I see. I misunderstood `Dialog.show()` --I missed the crucial reference to `this` in its body. So, you're right, this wouldn't work in this case since it'd actually reference the wrong fragment, but `Dialog.show()` happens to have meaningful effects on the stream contents in this case because of calls to `onCreate` etc. that do all the work to kick off transformations/initialization.

Agre

[2019-04-26 18:41] scolsen commented on #67
It looks like the Android docs recommend using a shared viewmodel for precisely this sort of parent/child fragment relation: https://developer.android.com/topic/libraries/architecture/viewmodel.html#sharing.

I think(?) this should  work here. We cold give that a try. Alternatively we could take the HomeScreen/MapContainer approach. Both take a dataRepository and have separate references to the ac

[2019-04-27 21:57] gino-m commented on #67
I wouldn't spend too much time on this particular case, since we'll probably end up rewriting the add feature flow once our new volunteer Interaction Designer gets done with it. But yes, a separate shared view model does sounds like a valid alternative. Would it be possible to continue with the subscription fixes as you've been doing and revisiting once we redesign this piece?

[2019-04-29 16:28] scolsen commented on #67
Okay, sounds good! Yes, it's definitely possible to keep going, this isn't a blocker, just something I wanted to open to consideration. I'll close this for now.

[2019-04-29 16:28] #67 closed

[2019-04-29 21:25] scolsen opened #68 "Use RX semantics for fragment interactions?"
Yet another stylistic/preferential question--forgive me for having so many of these but once they're firmly answered I'll move forward without causing any trouble!

We've recently had some discussions about naming subjects that track user interactions appropriately such as (addFeatureClicks) etc. Most of these currently (or will) live in viewmodels as subjects. However, I think it may be more appr

[2019-04-30 03:44] gino-m commented on #68
Nothing to forgive, these are very productive foundational questions!

Iiuc, in MVVM the idea of the View Model is to abstract the implementation details of the view, but not the details of interactions; conversely, the View Model is intended to be a model of the interactions between the user and the UI, modulo Android-specific "View" details. So in my understand, hiding some of the view behaviors

[2019-04-30 04:08] gino-m commented on #68
Correction: Looking at the delta in your change, I see now that the message is shown when there's nothing to save, and that it's already done that way in the current implementation. The points in my previous reply still apply, and that we should eventually refactor that logic to pass through the VM as part of Issue #9.

[2019-04-30 14:45] scolsen commented on #68
Ahha! Thanks for the clarification. It would certainly be silly to go against the principles of our architecture!

This makes sense. What's nice is that we can use streams to capture interactions in either case. Based on your explanation, keeping the interactions in the VM makes sense to me now.

I suppose what I'm really hoping to do is simplify the connection between the View and View Model in s

[2019-04-30 14:45] #68 closed

[2019-04-30 15:14] gino-m commented on #68
I wish there were a more succinct and readable way to model these. The reason we end up with lots of Subjects is because we're trying to avoid any references from the ViewModel to the View. Passing the ViewModel a callback or stream of clicks would violate this. Also, using LiveData instead of Rx wouldn't reduce the number of streams needed, since we'd just end up  replacing each Subject with an a

[2019-04-30 15:22] gino-m commented on #68
Would it be helpful to just declare Subjects and public final, and to allow Views to invoke onNext directly? We're not encapsulating away the fact that Rx is being used, so it wouldn't break any existing abstractions, and it would obviate the need to boilerplate methods that just call onNext. Then exposed Subjects would become quasi method objects, à la:

`viewModel.addFeatureClicks.onNext(NIL);`

[2019-04-30 15:25] gino-m commented on #68
Re Subjects with no value, see https://stackoverflow.com/questions/47992689/rxjava2-subject-with-no-data

[2019-04-30 15:34] scolsen commented on #68
I do like that approach! Another option, I think, for the cases in which we pass no/dummy values is to use a [connectable observable](https://github.com/ReactiveX/RxJava/wiki/Connectable-Observable-Operators). I think the semantics of this are pretty close to what we're actually trying to do, namely, kick-off emissions at a certain point in time. I think a subject makes more sense when we cannot i

[2019-04-30 15:47] scolsen commented on #68
Hm, scratch that re: connectables, that actually wouldn't work.

I believe the simplest and best case is what you've suggested, creating some dummy signal and calling onNext directly in the view.

[2019-04-30 17:01] gino-m commented on #68
Yeah, `ConnectableObservable` appears to serve a different purpose.

My initial thought would be to create a `Nil` enum with one void value, `NIL`, but that then requires the layout xml to import the symbol to reference it. Creating a helper class that extends `PublishSubject<Nil>` and provides a no-arg `onNext()` might be a sol'n. I general relying on inheritance for util functions can lead to he

[2019-04-30 17:55] scolsen commented on #68
Keeping it as is and having the `onFooClick()` methods would ultimately be more flexible, I think. If we had to update what happens on a click with some additional logic, we would simply add a couple of lines to the method, whereas if we made direct calls to `onNext` in the view and used some enum we lose some of that flexibility--we'd have to implement additional logic in the subject stream itsel

[2019-04-30 17:59] scolsen commented on #68
Another option is to go all in on defining an interaction types and wrappers. For example, we could create a `Click` which in certain cases carries additional data (such as coordinates). (though I imagine Android might already provide something like this).

[2019-05-01 00:07] gino-m commented on #68
+1. Looks like we came full circle on, but I feel more confident it's the right path now that we've fleshed out the alternatives.

I'm slightly partial to Nil.NIL, since it's clear, concise, doesn't conflict with other Java reserved symbols, and is at the right level of abstraction (Rx streams vs. View logic). It probably belongs in the ..gnd.rx package.

I think this would lead to a small combina

[2019-05-03 14:45] scolsen commented on #7
Forgot to document `Result.unwarp` in PR #70. Noting here!

It'd be cool if we could add tasks or some unit of work checklist to issues :thinking:

[2019-05-03 15:34] gino-m commented on #7
I think comments are meant to be units of work, since they block merge and
can be resolved individually.

*From: *Scott Olsen <notifications@github.com>
*Date: *Fri, May 3, 2019, 7:45 AM
*To: *google/ground-android
*Cc: *Gino Miceli, Author

Forgot to document Result.unwarp in PR #70

[2019-05-03 16:29] scolsen opened #71 "[Code Health] Simplify View Models"
There are a number of TODOs lying around regarding VM simplification. We should address these! Creating an issue so that we can reference it in each TODO.

@gino-m

[2019-05-03 16:33] gino-m commented on #71
Great idea, thank you!

[2019-05-03 17:10] scolsen commented on #71
I've tagged each VM with a TODO in issue-71/master.

Turns out we actually didn't have as many preexisting comments related to this as I suspected. Still worth taking a look at each VM, though, so I'll mark this as a question as well.

[2019-05-06 20:37] scolsen opened #78 "[Code health] Verify usage of Rx side effects"
There are some instances in the code in which we rely on `doOnNext`, `doOnSuccess` and other RX side effect operators.

In general, we should either avoid side effects entirely or ensure their usage is carefully prescribed.

Personally, I like treating anything that does not have to do with the direct manipulation of data (emitted items) as a side effect. For example, logging and UI changes would

[2019-05-07 04:10] gino-m commented on #78
Agree 100%. We should work towards this as we continue to implement functionality for Alpha/MVP version. Since it's not blocking, perhaps we can roll into ongoing work, and be mindful of this going forward.

Not sure about the UI part. The sole purpose of some Observables is for the UI to watch and react to changes in the view model state. If that's the case, it's hard to explain why some UI compo

[2019-05-07 04:34] gino-m opened #79 "[Add/edit feature] Save user id and timestamps on save"

[2019-05-07 04:37] gino-m commented on #78
Note: This appears to be related to #67.

[2019-05-07 04:37] gino-m opened #80 "[Code health] [Add feature] Use FeatureMutation instead of full Feature object on save"
DataRepository currently receives full Feature objects on create and converts them to FeatureMutations itself. Since update feature will create FeatureMutations, API would be simpler to always use FeatureMutations directly.

[2019-05-07 15:05] scolsen commented on #78
You're right! Android's architecture and binding/livedata stuff effectively makes handling UI a non-issue for us and is the better approach.

So really, the only time we might want to use side effects are for logging purposes.

I also think we should avoid using side effects for kicking-off data manipulations that are external to the given stream. For example, in the EditRecord VM there are curren

[2019-05-07 20:50] gino-m opened #82 "[Code health] Consistent naming of Rx and accessor methods"
@scolsen listened to [this podcast](https://player.fm/series/fragmented-127220/ep-155-naming-conventions-for-rxjava-observables) after our chat. I agree with most of the suggestions there. Key takeaways (mixed with my own observations):

* There's no single convention used by everyone, but there are some prevailing trends.
* The `getFoo()` pattern is dated, a relic of JavaBeans naming conventions.

[2019-05-07 21:48] scolsen commented on #82
I like this proposal! If I understand correctly, here's a few examples of how these names should map to RX types:

* If we return an `Observable<Foo>` that does not complete, the reference/method should be named `fooStream`
* If we return a `Single<Foo>`, `Maybe<Foo>`, or an `Observable.just(foo)` that emits one value and completes, the reference/method should be named `fooOnce`
* If we return a `

[2019-05-07 23:11] gino-m opened #84 "[Code health] Verify exceptions are either wrapped or handled in all Rx streams"
We can rename `Result` to something like `ValueOrError`, and wrap the value at the source, obviating the need to wrap/unwrap at arbitrary steps in the stream.

@scolsen FYI.

[2019-05-07 23:13] gino-m opened #85 "[Code health] Replace `Resource` with `ValueOrError` where appropriate"
..and handle "loading" and "saving" in progress states in the UI layer instead of upstream.

@scolsen FYI.

[2019-05-07 23:53] gino-m commented on #82
Yep, that's the gist of it, except I [think I] also agree with the above linked [article](https://medium.com/upday-devs/reactive-frustrations-40ec739e5cf1) where it says:

...since the "Once" and "Stream" concepts seem to apply more to the former two types but not the latter three. Perhaps a more realistic example would help illuminate things:

* `User currentUser()`
* `Observable<User> userStream

[2019-05-08 19:35] scolsen commented on #82
I don't mind either style, so I'm totally fine with the second proposal:

It seems very clear to me.

So more than likely we'll never actually need the `Once` suffix, since that would equate to an Observable that returns a single value then errors or completes, in which case we should just use a `Single` or `Maybe` as I think those cover the possible usage -- except for maybe some random case in w

[2019-05-08 19:41] scolsen opened #86 "[Authentication] Implement synchronous currentUser() method"
At present we can only access the current user through an `Observable`. While this is great for most cases, there are some interactions for which we need a fixed reference to the current user (the most recently emitted user from the AuthManager's Observable) for the duration of the interaction to prevent mis-attributing users to interactions that complete after the initial user to initiate them ha

[2019-05-10 21:26] gino-m commented on #82
I think `Once` might get used on private helper methods that return `Observable` instead of `Single` or `Maybe` for convenience, but probably not elsewhere.

I think streams that emit N items will be rare. More often, I think we'll end up with a `Single<List<>>`. Agree we can cross that bridge if/when we get to it. Closing this issue for now and opening another one for moving best practices to Wik

[2019-05-10 21:27] gino-m commented on #82
Actually we still need to apply this to existing code. Reopening,

[2019-05-10 21:31] gino-m opened #87 "[Docs] Architecture and design"

[2019-05-10 21:35] gino-m opened #88 "[Docs] Document best practices in WIki"
Some things to cover:

Rx:

* Naming conventions for Rx streams (discussion in #82).
* When to use `LiveData` vs. Rx streams.
* When to subscribe vs. transform streams.

Let's track other ideas here.

Misc:

* google-java-format for code formatting.
* Reference to architecture docs (#87).
* Emphasize key arch. tenets:
  * No business logic in views (Fragments, Activities)
  * No references from Vi

[2019-05-10 21:37] gino-m commented on #88
@scolsen FYI

[2019-05-10 21:41] gino-m opened #89 "[Docs] Add onboarding documentation to Wiki"
Some things to include:

* Required tutorials:
  * Android development with Android Studio
  * RxJava tutorial / videos
  * Basic dependency injection with Dagger 2
  * Git and Github tutorials
  * Reactive MVVM architecture
  * JUnit, Espresso
* Optional intro tutorials:
  * Intro to Android databinding
  * Cloud Firestore
  * Room ORM
  * Maps API for Android
* Links to other relevant Wiki docs

[2019-05-10 21:41] gino-m commented on #89
@scolsen FYI

[2019-05-10 21:44] gino-m commented on #86
Updated issue description based on naming convention discussion, "[functional area]" prefix precedent

[2019-05-10 21:53] gino-m commented on #82
One other thing; a positive side effect of making all methods verbs, is we can the consistently name `Subject` fields as nouns. The above field names, for example, could be:

* `User currentUser;`
* `PublishSubject<User> userStream;`
* `BehaviorSubject<User> userOnceAndStream;`

`Completable`, `Maybe`, and `Single` will rarely be used as fields.

[2019-05-10 21:59] gino-m commented on #82
One other thing; we should also take care when naming fields referencing `Subjects` backing these streams. It may be tempting (as I did in my previous deleted comment) to name them according to the method convention:

* `PublishSubject<User> userStream;`
* `BehaviorSubject<User> userOnceAndStream;`

But recall that the "Once" part is a function of the streams' behavior, not their underlying type.

[2019-05-13 16:29] scolsen commented on #82
Should we also adopt a policy that all subjects should be class local variables and last the duration of the lifetime of the encapsulating class?

If possible, and this seems to be reasonable for all the cases thus far, I think we should avoid returning subjects. They've primarily been useful as bridges of sorts between imperative and reactive code or between user interactions and reactive busines

[2019-05-14 09:35] gino-m commented on #82
Yes, I think the point of the `Subject` is a bridge between imperative and functional reactive worlds. `Subject` is just a specific implementation of an `Observable` that make it "mutable". We shouldn't be exposing these any more than we should expose `ArrayList` and not `List`.

[2019-05-15 12:43] gino-m opened #92 "[Code health] Break implementation of OfflineUuidGenerator into a separate class"
See conversation in https://github.com/google/ground-android/pull/76#discussion_r281806892

[2019-05-15 22:28] gino-m opened #93 "[Workflow] Best practices for stacking / chaining multiple dependent changes for review"
Ideally, the solution would have the following properties:

1. The workflow for stacked PRs would be as close as possible to the normal PR workflow.
1. The same workflow would work for both maintainers and contributors.
1. It would allow any branch names to be used (i.e., no error-prone manual branch naming conventions).
1. It would prevent merging out of order and/or automatically merge in the ri

[2019-05-16 14:14] #24 closed

[2019-05-16 14:33] navinsivakumar commented on #93
I know that `git rebase` is considered scary and a lot of guides discourage it when pulling in changes from other branches, but I think there is a workflow for stacked PRs that would do what we want by using rebase. I'll try to sketch out a proposal.

[2019-05-16 14:51] scolsen commented on #93
I think we should mostly consider this question from the perspective of maintainers/project members/long-term contributors. An unfortunate aspect of our approach is that it's strictly conventional--there's no technical means (that I know of) for us to enforce these practices on Github--so, we'll always have to deal with some number of contributions that don't follow our rules. We can, and should,

[2019-05-17 09:09] gino-m commented on #93
@scolsen, you pretty much nailed why I was thinking of commits as a unit of review; ideally we'd like as little manual intervention and special knowledge on the part of the contributor, both to make it easier to contribute, and to minimize work for maintainers.

@navinsivakumar I'm curious to see what you had in mind. Does it still involve creating multiple PRs? I think rebasing is scary because w

[2019-05-17 15:00] scolsen commented on #93
Yeah! Let's give it a shot.

[2019-05-18 16:09] gino-m commented on #84
Should we really though? Posted [this question](https://groups.google.com/forum/#!topic/rxjava/sIFNQng5yg4) asking about an alternative approach, a là:
[code]

There's not need for a wrapper unless we want to propagate errors across long-lived streams. Since Rx streams obtained imperatively will return Completable, Single, or Maybe, this will usually only happen when declaratively setting up and s

[2019-05-20 20:15] gino-m commented on #84
@scolsen, I discussed this with ex-colleagues at FAO (@cdanielw, @lpaolini) who work with RxJS extensively on [SEPAL](https://github.com/openforis/sepal), and consensus is that it's better to wrap and unwrap in some intermediate object to represent errors as a value rather than at stream level (as we have now), rather than to rely on side-effects on the inner stream, e.g.:

https://github.com/goog

[2019-05-21 00:25] scolsen commented on #84
Sounds good! Let's stick with our basic idea then and iterate on improving the clarity of the semantics.

`ValueOrError` is fairly straightforward.

Would it be clearer to the majority of Java/Android devs if we emulated or took inspiration from an existing interface like `Optional`? i.e. instead of doing something like `unwrap` doing something like `orError` -- this particular example doesn't sou

[2019-05-21 09:19] gino-m commented on #84
Yes, I was thinking the same thing. Afaict, the closest use of Optional is
Java 9's "ifPresentOrElse()". What would the equivalent be here?
ifSuccessOrElse?

On Tue, May 21, 2019, 2:25 AM Scott Olsen <notifications@github.com> wrote:

[2019-05-21 14:29] scolsen commented on #84
`ifSuccessOrElse` sounds right to me!

Do we prefer `ValueOrError`, `Result`, or `SuccessOrError`?

I like `Result` because it's concise, but I could see it being a bit less understandable from the perspective of someone unfamiliar with the code base.

I think we'll want to change `mapSingle` and `mapObservable` to match too. Since `Optional` uses `of` how about: `ofSingle` `ofObservable` etc?

Or

[2019-05-23 21:17] gino-m commented on #84
I'm partial to `ValueOrError` because of existing precedent in some C++ libraries. On the other hand, I also like `Result` because it's less verbose. I'll need to see it used in context to get a sense of how clear it is.

Regarding `of()`, I remember reading a [blog post](https://blog.danlew.net/2015/03/02/dont-break-the-chain/) always suggesting using `compose()` to mutate streams in Rx, since it

[2019-05-24 19:22] scolsen commented on #84
`ValueOrError` is cool with me!

I'm somewhat confused by the code samples you suggested--what does the wrapper grant us at that point? I might be missing something, but I thought the major benefit of the wrapper was that it ensured errors are handled without having to call `.onErrorReturn` explicitly on each point at which we return an inner stream--but we're doing that anyway in your first examp

[2019-06-02 22:28] gino-m commented on #84
Sorry to vacillate on this, but after more experimentation, I'm back to thinking handling errors with side-effects rather than stream values will lead to more readable, self-documenting code.

Consider this example, if you will:

[code]

And compare with its "pure" equivalent using `ValueOrError`:

[code]

Advantages of using side effects over (un)wrapping:

1. No need to extract ValueOrError clas

[2019-06-03 15:33] scolsen commented on #84
I like it!

I agree that worrying about functional purity shouldn't be of high-priority when we're using RX--I think the most important thing is to stick with RX's semantics and definitions as much as possible--using side effects as you have here is a lot clearer and requires less work to grok for those that already understand RX Java (vs. having to learn about our own custom wrapper).

I think it

[2019-06-03 18:11] gino-m commented on #84
Great, glad we're on the same page! tl;drs:

1. Ok to handle errors with onError*(), no need to wrap in value object.
1. With switchMapped streams, apply onErrorResumeNext() downstream where things can break; applying upstream is too late.
1. Avoid using onNext() and onSuccess() for non-error states, rather handle in subscribe().

I'll try to send out a PR for error handling this week.

[2019-06-07 21:04] valloskut commented on #93
Hi @gino-m, just FYI.  Found this when was looking for ways to control stacked PRs merging.
https://probot.github.io/apps/dep/

[2019-06-07 21:29] gino-m commented on #93
Hey, thanks! At first glance it looks like it prevents merging when there are dependent PRs, but doesn't help showing incremental diffs across stacked PRs? Please cmiiw.

[2019-06-07 21:39] valloskut commented on #93
Yes, I believe it only prevents merging.
Not sure if I got you right, but GitHub allows to change base branch of the
PR. So if next stacked PR is based on previous one, it will show the
required diff. The only issue is to merge them in correct order later. Here
is that 'dep' like app can help.

On Fri, Jun 7, 2019, 17:29 Gino Miceli <notifications@github.com> wrote:

[2019-06-08 15:26] gino-m commented on #93
The issue we ran into is that to allow dependent PRs to be set as a base, subsequent stacked PRs all need to live in the contributor's fork . This means dependent PR review history wouldn't be easily discoverable, and maintainers can't be assigned reviewers (unless they're added as a contributor of the fork).

It's completely possible I'm just misunderstanding how GitHub intends for this to be don

[2019-06-09 01:24] gino-m opened #99 "[Workflow] Switch to trunk-based development"
Many a wise person has pointed out that [trunk based development](https://trunkbaseddevelopment.com/) helps keep developers happy by avoiding merge nightmares and managing a complex mental model of multiple ongoing branches. Should we adopt the same?

#98 reminded me of this, since the issue-57 branch has gotten so far out of sync with Master, manual merges were required. These are hard to do, and

[2019-06-09 15:25] gino-m opened #100 "[Code health] Replace event objects with single values where appropriate"
Since view models are stateful, we shouldn't need to push additional information into the stream (e.g., `EditRecordViewModel` has `SaveRecordRequest` and `EditRecordRequest` which contain identifying info on which record is being saved). Since there's already shared state, we're no longer using pure FRP anyway, so the extra objects add boilerplate w/o much advantage.

[2019-06-09 15:54] gino-m opened #101 "[Add/edit observation] Attach user and timestamp on save"
Broke while working on #57. This is blocking because permissions model only allows Contributors to edit their own Records, which won't be possible if we don't know who created the record.

[2019-06-09 17:07] gino-m commented on #78
Just came across this in Google Rx MVVM example:

https://github.com/googlesamples/android-architecture/blob/2e20b4a5deffb354f5ffa01c7f4448fd37acb6c3/todoapp/app/src/main/java/com/example/android/architecture/blueprints/todoapp/tasks/TasksViewModel.java#L77-L84

They're using side effects for loading state indicator as well as errors. Arguably more readable than using a wrapper class, esp. since t

[2019-06-09 18:11] gino-m commented on #19
I have local WIP to write Records and Record mutations to the local db, but will need to migrate other functionality to local db first. Potential order of sub-tasks:

1. Stream features from local db onto map (via in memory cache)
1. Read feature from local db on click
1. Write new records to local db and enqueue
1. Read record list from local db
1. Write updated records to local db and enqueue

[2019-06-09 18:16] gino-m commented on #19
Note: To peek at local db, be sure you're using a debug system image; in AVD manager, Create Virtual Devices, then select a Google APIs image (not Google Play) from "x86 images". You can then access the db directly via command-line shell as per https://stackoverflow.com/a/18280430/9986466. The db will be located in `/data/data/com.google.android.gnd/databases/gnd-db` (may soon rename to gnd.db).

[2019-06-10 14:32] scolsen commented on #78
The state-indicator handling is pretty nifty! I'm sure there are a lot of places where we could similarly fire off a subject on subscribe.

I agree that the example is very readable--it also seems to adhere to the idea of keeping non-emissions altering code in `do` operators--this is what I was driving at in the OP on this issue.

IIRC (which I may well not), at the moment there are a couple of pl

[2019-06-10 14:51] scolsen commented on #99
I'm open to adopting this so long as we can stick to [short-lived feature branches](https://trunkbaseddevelopment.com/short-lived-feature-branches/)! It sounds like massive feature branches can still lead to some of the same merging issues.

I suspect we'll need to chunk larger features into smaller non-breaking 'mini-feature' branches, many of which won't affect users directly. e.g. setting up th

[2019-06-10 16:10] scolsen commented on #88
I've added https://github.com/google/ground-android/wiki/RxJava-Best-Practices as a start!

Since the wiki is more or less open we'll have to request reviews explicitly...I'll look into seeing whether there's a setup we can use that instead incorporates reviews into the wiki submission/editing process.

[2019-06-10 16:13] scolsen opened #102 "[Docs] Simplify Readme"
The current `README` is a bit heavy--arguably it should only contain a brief description of the project and the necessary environment setup steps. We can safely assume most contributors are familiar with github and using git, so we should move the more detailed git related instructions into the wiki for those who need them and point to them in the README.md. Keeping the README short and sweet will

[2019-06-10 16:13] scolsen commented on #89
Related #102

[2019-06-10 17:34] dhvogel commented on #99
@gino-m Yes, this is a good idea. I'm all for short-lived feature branches only.

@scolsen Yes, this may be harder in practice than in theory. There may be times where we violate the "short-lived" rule.

My opinion is that we shouldn't let perfect get in the way of good. Having all of our code live in one place (as opposed to a bunch of different places) more of the time is a good thing.

[2019-06-10 21:12] gino-m commented on #78
I agree. Let's keep this in mind going forward.

I'm not 100% convinced we should remove `Resource` in favor of side-effects, but we can cross that bridge if and when we get to it.

Thanks for the comments!

[2019-06-10 21:58] gino-m commented on #88
Great work! Hope you don't mind a added some more content:
https://github.com/google/ground-android/wiki/RxJava-Best-Practices

[2019-06-10 22:03] gino-m commented on #99
Great. Regarding longer term projects, I don't mind flag-guarding and keeping around parallel code paths while it's WIP. It sometimes requires extra work to think through out changes can co-exist, but often it's just enough to make additive changes (e.g., new classes, methods) alongside existing code, and enable/use them when ready.

Let's do this going forward. issue-57/master will need to live f

[2019-06-10 22:12] gino-m opened #103 "Clean up unused branches"
@navinsivakumar and I are currently using issue-57/master.

@scolsen could you kindly [carefully!] delete the branches you're no longer using? I'll delete the remaining ones.

[2019-06-11 19:22] scolsen commented on #103
All mine should be taken care of excepting issue-24/master -- I can't seem to delete it since it's protected.

All the other ones hanging around are active.

[2019-06-12 01:19] gino-m commented on #103
Removed! I needed to temporarily disable branch protection to remove it;
one more reason to not rely on branch protection and to switch to single
trunk development!

On Tue, Jun 11, 2019 at 3:22 PM Scott Olsen <notifications@github.com>
wrote:

--

Gino Miceli |  Developer Programs Engineer |  gmiceli@google.com |  Google
Earth Outreach Developer Relations

[2019-06-12 01:20] gino-m commented on #103
Thanks for cleaning up! I'll close this for now since it's not actionable.

[2019-06-12 01:20] #103 closed

[2019-06-12 19:02] scolsen commented on #99
Should I implement #10 on master, then?

I currently have a separate branch for it.

[2019-06-12 19:10] gino-m commented on #99
I think so, yes. It will probably save you a lot of pain to big-bang merge
later (vs. lots of smaller merges now). Wdyt?

On Wed, Jun 12, 2019 at 3:02 PM Scott Olsen <notifications@github.com>
wrote:

--

Gino Miceli |  Developer Programs Engineer |  gmiceli@google.com |  Google
Earth Outreach Developer Relations

[2019-06-12 19:55] scolsen commented on #99
Sgtm!

On Wed, Jun 12, 2019 at 3:10 PM Gino Miceli <notifications@github.com>
wrote:

--
*http://olsen.works <http://olsen.works>*

[2019-06-14 02:59] gino-m opened #107 "[Delete observation] Add ability to remove observations"
Only accessible to project managers and owner of observation.

[2019-06-14 03:01] gino-m opened #108 "[Delete feature] Add ability to remove features"
Only accessible to creator of feature and project managers.

[2019-06-14 03:05] gino-m opened #109 "[Edit feature] Allow users to reposition point features"
Allow feature creators and project managers to move point features around on the map after they've been added.

The related sync and merge feature mutation functionality will also need to be implemented.

[2019-06-14 03:08] gino-m commented on #61
This is likely related to #6 so assigning to you in case. Thanks!

[2019-06-14 03:14] gino-m opened #110 "[Offline support] Show notifications with data sync progress"
Blocked by #17

[2019-06-14 03:18] gino-m opened #111 "[Join project] Cache and show thumbnails for projects in selector"

[2019-06-14 03:20] gino-m opened #112 "[Offline imagery] Create global cloud free mosaic"
Using freely available data sources, with pyramids in mbtiles format and extends in GeoJSON.

[2019-06-14 03:24] gino-m opened #113 "[Offline imagery] Overlay downloaded mbtiles on map when available"
Related to #10.

[2019-06-14 03:26] gino-m opened #114 "[Add feature] Make add feature flow more intuitive"
Currently, marker is added to location under crosshairs as soon as feature type is selected.

Ideally, there would be an intermediate step in which the user would have a change to zoom and pan the map to choose a more precise location. If we did this, we also wouldn't need to always show the crosshairs on the map.

[2019-06-14 03:27] gino-m commented on #114
@hintzemichael FYI, this is a nice-to-have for alpha, but not required.

[2019-06-14 03:59] gino-m opened #115 "[Docs] High-level design and architecture documentation"

[2019-06-14 04:00] gino-m commented on #115
Duplicate of #87

[2019-06-14 04:00] #115 closed

[2019-06-14 04:01] gino-m opened #116 "[Map] Import and use default map marker library"
Respect markers set in https://github.com/google/ground-platform/issues/74

[2019-06-14 04:03] gino-m opened #117 "[Map] Update default map marker style"

[2019-06-14 14:47] scolsen opened #119 "[Offline Imagery] Use local datastore for tile download state"
Use the local data store to read and load downloaded mbtiles DB files.

Blocked by #19

[2019-06-14 23:31] gino-m opened #120 "[Testing] Add instrumented test for adding a Feature"
Espresso tests or similar that run the app and perform key flows. We could either mock out the Firebase API, or perform actual E2E tests against a live instance; for now would prefer whichever gets us some protection against regressions sooner.

Goal is to get one UI test working ("happy path") for adding a feature.

[2019-06-15 00:41] gino-m opened #121 "Rename "record" to "observation" in UI"
Related to https://github.com/google/ground-platform/issues/79.

[2019-06-15 00:43] gino-m opened #122 "[Splash screen] Show splash screen when app is opened"
@hintzemichael Do we know any graphic designers who might want to tackle this?

[2019-06-15 00:43] gino-m opened #123 "[Onboarding flow] Walk user through basic usage first time app is opened"

[2019-06-15 00:51] gino-m opened #124 "[Offline support] Queue Workers when new entries added to local FeatureMutation"
Blocking #57. The local datastore and queue API are in branch issue-57/master.

[2019-06-15 00:57] gino-m opened #125 "[Feature sheet] Remove form tabs"
Only show first form for feature type

[2019-06-15 00:59] gino-m opened #126 "[Feature sheet] Show record previews inline on feature sheet"
Instead of record list

[2019-06-15 21:06] gino-m commented on #99
Let's leave this open until we have no more working branches in the main repo, then we can close it.

[2019-06-15 21:22] gino-m opened #127 "[Code health] Decouple project metadata and Feature and Record objects"
Feature VOs currently contain references to project metadata, making it hard to:
1. Construct the VOs, since you always need project data at construction time
2. Create UIs that are reactive to changes in project config, since project metadata is rolled into VOs
3. Reason about what's data and what's metadata/project defn.

[2019-06-15 21:48] gino-m opened #128 "[Offline support] Disable destructive migration before releasing"

[2019-06-16 00:21] gino-m opened #130 "[Docs] Consolidate comments tagged with this issue into Wiki"

[2019-06-18 00:50] #51 closed

[2019-06-18 00:58] gino-m commented on #13
Migration to local db should resolve this, since local db queries fail at runtime if run on UI thread. We should verify anyway.

[2019-06-23 19:57] gino-m commented on #99
@scolsen Is ok to remove all branches except `master` and `issue-57/master`?

If I branch/rename the current `master` to a new branch (`pre-alpha-stable`?), we can then move/rename the breaking changes into `master` and work from that. Wdyt?

[2019-06-23 19:58] gino-m commented on #124
@navinsivakumar  I have a draft of this working so taking this issue over. I'll cc you on the PR in case you'd like to look it over!

[2019-06-23 20:48] #19 closed

[2019-06-24 19:20] #124 closed

[2019-06-27 23:30] gino-m commented on #57
This task is too broad so closing in favor of more specific steps.

[2019-06-27 23:30] gino-m commented on #17
This task is too broad so closing in favor of more specific steps.

[2019-06-27 23:30] #17 closed

[2019-06-27 23:32] gino-m opened #133 "[Offline support] Sync remote changes to features and records to local db"

[2019-06-28 04:05] gino-m commented on #133
After some initial research, doing this in the background may require setting up [FCM](https://firebase.google.com/docs/cloud-messaging/?gclid=CjwKCAjw0tHoBRBhEiwAvP1GFXwFfjf7MsLQhxirYkcbMhFCryF6f5bn48aK1wrkQsZ0n1yOWUqGGBoCm00QAvD_BwE) to wake the app or service.

This is because from Oreo, [severe limits](https://developer.android.com/about/versions/oreo/background) have been placed on background

[2019-06-29 17:17] gino-m commented on #57
Lots left to do here. Rough plan:

- [ ] Manage projects
  - [ ] Join project - store in local db
  - [ ] Leave project - delete from local db
  - [ ] Activate project - switch projects in local db
  - [ ] Reload project - show message when project config changes w/option to reload or postpone
  - [ ] Reload project - show reload icon next to projects w/pending updates
  - [ ] On activation, store

[2019-06-29 17:25] gino-m commented on #133
For now proceeding to implement this only when the app is in the foreground. If we see need background sync support for this we can add refactor the logic that does this and always show a notification.

[2019-07-01 02:22] gino-m commented on #6
FYI, the bottom sheet is declared in this layout:

https://github.com/google/ground-android/blob/900fdeb31c685faa538d38a580ccec29a7e79fb7/gnd/src/main/res/layout/home_screen_frag.xml#L51-L55

And gets displayed here:

https://github.com/google/ground-android/blob/fd1324aa8e59159c9941c5dfab6c7c082cff0b6f/gnd/src/main/java/com/google/android/gnd/ui/home/HomeScreenFragment.java#L303-L306

We use Jetp

[2019-07-02 02:45] gino-m opened #136 "[Observation details] Update observation on remote changes"
Observations are currently reloaded every time the feature sheet is loaded.

[2019-07-09 01:57] gino-m opened #137 "[Map] Show name of active project somewhere on the map"

[2019-07-10 22:18] #99 closed

[2019-07-11 04:30] gino-m commented on #6
Duplicate of #61.

[2019-07-11 04:31] #6 closed

[2019-07-11 04:31] gino-m commented on #61
Discussed offline, but issue is related to code examples described in #36

[2019-07-11 04:47] gino-m opened #142 "[Code health] Big bang change to Firebase schema"
To be coordinated together with https://github.com/google/ground-platform/issues/87

[2019-07-11 04:51] gino-m opened #143 "Rename key concepts in code"
Based on discussion in https://github.com/google/ground-platform/issues/81:

* FeatureType ➡ Layer
* Record ➡ Observation

Persistence shouldn't be changed in this PR; it needs to be coordinated with web app in #142.

[2019-07-11 05:02] gino-m opened #144 "[Code health] Replace *Doc classes with sparse Maps"
RecordDoc and FeatureDoc currently use two representations; static type fields for fetching/storing the entire object, and `Map<String, Object>` for selectively updating fields on remote server. It's worth looking into consolidating these two representations.

[2019-07-11 05:05] gino-m opened #145 "[Offline authentication] Allow switching among users while offline"
- [ ] Make all data in local db per-user
- [ ] Allow switching among available accounts in drawer ([docs](https://developer.android.com/training/id-auth)). Fetch and store Firestore auth token on switch.
- [ ] Add link to manage accounts / add account to system

[2019-07-11 05:07] gino-m opened #146 "[Offline support] If opening feature while offline, show offline warning"

[2019-07-11 05:07] gino-m commented on #107
Will also need to implement in local mutation queue and remote sync

[2019-07-11 05:07] gino-m commented on #108
Will also need to implement in local mutation queue and remote sync

[2019-07-11 05:10] gino-m opened #147 "[Offline support] Retry failed mutation sync attempts"
- [x] Respect backoff if successive edits enqueue updates to same feature
- [x] Increment retry counter
- [ ] Report error if retry counter exceeds some threshold

[2019-07-11 05:13] gino-m opened #148 "[Offline support] Persist projects in local db"
- [ ] Join project - store in local db
- [ ] Leave project - delete from local db
- [ ] Activate project - load project from local db

To do this, we'll need to add a model and related DAOs for project entities (Form, Observation, etc) in the local db:
https://github.com/google/ground-android/tree/master/gnd/src/main/java/com/google/android/gnd/persistence/local/room

We may want to tackle #143 be

[2019-07-11 05:15] gino-m commented on #57
Either marked above TODOs as done, or forked into separate issues.

Branch `issue-57/master` has been merged into `master` and deleted. 🚀

[2019-07-11 05:15] #57 closed

[2019-07-11 05:16] #133 closed

[2019-07-11 05:17] #18 closed

[2019-07-16 00:11] gino-m opened #154 "[Offline support] App doesn't sync data after max retries of sync errors"
When retry count mutations exceeds some limit, show notification or other affordance to allow user to revert changes or to try again. Follow-up to #147.

[2019-07-17 06:50] #147 closed

[2019-07-17 11:18] Harsh2098 commented on #121
Hi @gino-m I would like to take up this issue

[2019-07-17 16:31] gino-m commented on #121
That would be great, please go ahead! Just make sure to accept the CLAs so
we can merge your change. Excited to receive your PR!

On Wed, Jul 17, 2019, 4:18 AM Harsh Mahajan <notifications@github.com>
wrote:

[2019-07-22 17:13] #61 closed

[2019-07-23 03:05] gino-m commented on #15
Hi @chinesco did you mean to close this or another issue?

[2019-08-14 14:57] scolsen commented on #10
Remaining work:
- [ ] Add icon next to "Offline maps" menu option
- [ ] Add top app bar with title "Offline maps", subtitle "Tap to toggle offline areas", and back ("up") arrow
- [ ] Show default offline area extends defined in GeoJSON.
- [ ] Tap to toggle areas; selected areas opaque, unselected ones semi-opaque
- [ ] Update work queue when toggling on and off
- [ ]  Listen to work queue and down

[2019-08-14 16:08] scolsen commented on #10
- [ ] Refactor BasemapSelector -> OfflineMaps

[2019-09-10 19:31] gino-m opened #166 "[Edit record] App breaks after viewing or saving a record"
Map disappears and record list. Reported by @gyarill.

[2019-09-10 19:32] gino-m opened #167 "[Add feature] Features are not added to correct location"
Features are getting added to origin instead (0, 0)

[2019-09-10 19:38] gino-m opened #168 "[Offline base map] Show error on download failure"
e.g. file not found

[2019-09-10 19:41] gino-m opened #169 "[Offline tiles] Replace "edit" icon with text chip "Apply""

[2019-09-10 19:42] gino-m opened #170 "[Offline tiles] Add tile extents geojson to resources"

[2019-09-10 19:45] gino-m opened #171 "[Map] Respect default style (color) for markers"
Thanks @daoyuT for adding this to the web UI.

[2019-09-11 20:21] scolsen commented on #170
@gino-m resolved once #172 is in

[2019-09-11 20:22] scolsen commented on #169
@gino-m resolved once #173 is in

[2019-09-12 00:18] #121 closed

[2019-09-12 03:02] gino-m opened #177 "[Offline sync] New features not synced to remote server"
Stack trace:
[code]

[2019-09-12 03:34] gino-m opened #178 "[Offline sync] Some logic in Worker gets run on UI thread"
Namely call to `localDataStore.removePendingMutations()` in `LocalMutationSyncWorker`. Why?

[2019-09-12 03:46] #166 closed

[2019-09-12 04:16] #177 closed

[2019-09-12 04:38] scolsen opened #181 "App Crashes if it tries to reactivate a non-existent project"
**Describe the bug**
If the firestore attempts to load a non-existent project from cache (?) the application crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open ground
2. Exit with an active project.
3. Remove the project from the backing firestore
4. Reopen ground
5. crash.

**Expected behavior**
When the previous project isn't found, ground should just return project not found an

[2019-09-12 04:38] scolsen commented on #181
Encountered this by chance testing some changes tonight (looks like the projects were wiped for the demo?)

I have a fix in the wings! Will open a PR shortly.

[2019-09-12 04:39] #171 closed

[2019-09-12 05:07] scolsen commented on #181
Fixed by #182

@gino-m  fyi

[2019-09-15 01:48] gino-m opened #185 "[Add observation] Observations sometimes do not appear in list after saving"
This occurred online and offline. The record appeared in the list after closing and reopening the feature sheet.

The bug is intermittent - after reloading the app it no longer occurs.

[2019-09-15 02:06] gino-m opened #186 "[Add record] "Project loading" spinner sometimes appears after saving record while offline"
The app becomes unresponsive:
![Screenshot_1568512192](https://user-images.githubusercontent.com/228050/64915725-a8102100-d722-11e9-8fee-e21f03f0e933.png)

[2019-09-15 02:07] gino-m opened #187 "[Save record] Records without features sometimes found in db"

[2019-09-15 02:54] gino-m commented on #185
`maybeSyncFirst()` in `DataRepository` is timing out because it's actually implemented incorrectly; we wait for the first Record event before syncing local changes, which never occurs if there are no records, and occurs multiple times if there's more than one. More likely a `List` of Records should be returned, or we should only sync once when the sheet is opened and drop real-time updates.

[2019-10-03 13:01] gino-m opened #188 "Integrate crash and latency tracker"

[2019-10-03 13:04] gino-m opened #189 "[Code health] Use data binding in all views"
TODO:
- [x] EditRecordFragment
- [x] RecordListAdapter
- [x] FeatureSheetFragment
- [ ] TwoLineHeader

[2019-10-03 13:07] gino-m commented on #120
GitHub Actions, CircleCI, or TravisCI?

[2019-10-17 20:30] gino-m opened #193 "[Code health] Set up basic unit testing"
- [ ] Configure unit test framework
- [ ] Set up initial test as example of basic business logic (e.g., `*Manager`)
- [ ] Document basic setup

[2019-10-17 22:11] gino-m commented on #189
@shobhitagarwal1612 Could you kindly add/update any I missed in the description here?

[2019-10-22 02:06] gino-m commented on #189
Are these all the ones that are pending?

[2019-10-22 10:37] shobhitagarwal1612 commented on #189
Sorry for the late reply.

Yes

[2019-10-22 14:22] gino-m commented on #189
Thanks for verifying!

[2019-10-27 18:50] gino-m commented on #193
Hi @deepakbansal! `SettingsManager` seems fairly self contained; all dependencies are injected and can be easily mocked. Care to start with that one, or did you have another class in mind?

[2019-10-31 03:28] deepakbansal commented on #193
I was looking through some classes but I think I'll start with this one. Sorry, I was busy with a summit in RWC for past couple of days, couldn't make any contributions here.
I'll try to work add some tests by this weekend.

[2019-11-01 17:11] gino-m commented on #193
Sgtm. Please let me know if you have any questions!

[2019-11-04 21:17] gino-m commented on #120
@shobhitagarwal1612 We spoke - the next step would be to try out getting GCB to build and run a simple UI test in a cloud-based emulator. Thanks!

[2019-11-07 07:16] gino-m commented on #12
This will be done while implementing in Angular. Obsolete.

[2019-11-07 07:16] #12 closed

[2019-11-07 16:22] gino-m commented on #93
Iirc the consensus here was that it's very difficult to stack PRs across forks, and that working on the main repo quickly tends to descend into chaos, so we should avoid stacking PRs. Instead, for complex PRs, we should aim to separate work into small, meaningful commits so that reviewers can view them separately if they wish. Closing this issue for now!

[2019-11-07 16:22] #93 closed

[2019-11-10 16:12] gino-m commented on #188
Hi @shobhitagarwal1612! I know you mentioned this was almost working - what was the current issue? Anything I can help with?

[2019-11-10 16:14] gino-m commented on #170
@scolsen Would it be easy to derive these from the base URL using X-Y grid coordinates? If so, should we just add the base URL to the project definition to allow it to be pushed from the server?

[2019-11-10 16:16] gino-m commented on #169
Let's close this in favor of the new offline imagery selection flow.

[2019-11-10 16:16] #169 closed

[2019-11-10 16:19] gino-m commented on #144
This is low priority, and it's questionable whether we'd want to lose static types offered by these classes.

[2019-11-10 16:19] #144 closed

[2019-11-11 02:15] shobhitagarwal1612 commented on #188
Was [fabric](https://get.fabric.io/) ever integrated into ground-android? The error I'm getting could be a possible side-effect of incomplete port from fabric to firebase.

[2019-11-11 20:26] gino-m commented on #188
We never explicitly set up Fabric in Ground Android, though I suppose it could have been included via transitive deps? What's the error you're seeing? Still getting a blank page in the developer console?

[2019-11-12 05:32] shobhitagarwal1612 commented on #188
I'll try again with the new Firebase project that you've created.

[2019-11-12 16:33] gino-m commented on #188
Sgtm. Sorry for the churn!

On Tue, Nov 12, 2019, 12:32 AM Shobhit Agarwal <notifications@github.com>
wrote:

[2019-11-16 23:42] gino-m opened #202 "[Docs] Create basic design doc (high-level)"

[2019-11-16 23:56] gino-m opened #203 "[Code Health] Implement RxLint checks"
https://www.littlerobots.nl/blog/RxLint-a-lint-rule-for-RxJava/
https://medium.com/@peter.tackage/overriding-rxjava-schedulers-getting-it-right-with-rxlint-60cde12b3b00

[2019-11-17 00:25] gino-m commented on #82
Hi @scolsen! Reviving this discussion and adding one observation (no pun intended 😹). I've noticed that we (mainly I) have applied functional and imperative styles inconsistently throughout Ground, meaning that in some cases logic in the method is executed immediately when invoked, and in others it's executed on subscribe of the returned observable. This has already led to bugs which I've addresse

[2019-11-17 00:36] gino-m opened #204 "[Code health] Ensure relevant methods returning Rx streams are lazy"
These methods should only do work on subscribe.

See https://github.com/google/ground-android/issues/82#issuecomment-554688012

[2019-11-17 01:15] gino-m commented on #204
Related commentary here:
https://www.nurkiewicz.com/2017/07/eager-subscription-rxjava-faq.html

Key takeaway: Flowables and Observables are always lazy, and mixing eager and lazy computation makes things hard to reason about.

[2019-11-17 05:37] shobhitagarwal1612 opened #205 "[Feature] Code styling check"
- [x] Checkstyle gradle plugin for code styling

- [x] Run check on GCB with every commit and fail if necessary

- [x] Generate reports

[2019-11-17 15:07] shobhitagarwal1612 opened #206 "[Feature] Android lint checks"
The lint tool checks for potential bugs and optimization improvements for correctness, security, performance, usability, accessibility, and internationalization.

- [ ] Add gradle plugin

- [ ] Integrate into GCB

- [ ] Generate reports

[2019-11-17 16:25] shobhitagarwal1612 opened #208 "[Feature] PMD static code analyzer to GCB"
PMD is a source code analyzer. It finds common programming flaws like unused variables, empty catch blocks, unnecessary object creation, and so forth.
https://pmd.github.io/

[2019-11-17 19:40] scolsen commented on #82
Ah! Great point to raise! Definitely something we should address. I think the right approach is actually to just fix all the function bodies so that we don't mix eager/lazy eval rather than use a naming convention.  Generally speaking I'm also a fan of eliminating as much of the imperative code that we can (right now we do have quite the amalgam of functional/imperative style). wdyt?

[2019-11-17 21:17] gino-m opened #210 "[Dev Setup] gnd/google-services.json not in .gitignore"
Hi @shobhitagarwal1612! I just realized that the README recommends we put our real `google-services.json` in `gnd/`, but that file is now not ignored in .gitignore. How do we prevent ourselves from accidentally checking our real config files in source control in this case?

@scolsen FYI.

[2019-11-17 21:19] gino-m opened #211 "[Code Health] Check for private keys at build time"
Is there an easy way to verify private keys have been set in the Gradle build? @scolsen and I both got `java.lang.RuntimeException: Unable to get provider com.google.firebase.provider.FirebaseInitProvider: java.lang.IllegalArgumentException: Given String is empty or null` when pulling latest. The readme provides instructions, but it might be helpful to fail fast with a more obvious message. Thanks

[2019-11-17 21:48] gino-m opened #212 "[Dev Setup] Gradle distribution changed by Android Studio"
Android Studio is trying to update `gradle-wrapper.properties` from:
[code]

to:
[code]

I assume this isn't an issue and can safely be checked in, but wanted to verify if you think it will have any adverse effects on Cloud Build. Thanks!

[2019-11-18 00:47] gino-m commented on #82
Agreed! Filed #204 to track.

[2019-11-18 00:54] gino-m commented on #208
Very cool!

[2019-11-18 01:02] gino-m opened #213 "[Code health] Always subscribeOn() and observeOn() at point of subscribe()"

[2019-11-18 01:03] gino-m commented on #178
@scolsen Looks like I missed these comments! I think specifying everywhere is there right thing to do. I spent some time experimenting with and reading about `subscribeOn` and `observeOn` today, and I learnt that despite what I previously thought, `switchMap` propagates the `subscribeOn` thread properly. This means we don't actually need to reassign threads in each switchMapped stream, and can saf

[2019-11-18 01:03] #178 closed

[2019-11-18 08:27] shobhitagarwal1612 commented on #212
It was an unintentional change. The `*-all.zip` contains the binary and the documentation. I haven't checked the size difference between the two zips but I'm assuming it's not significant enough to make a big difference.

[2019-11-18 19:41] #206 closed

[2019-11-18 19:44] gino-m commented on #212
Ok, I'll submit with `-all` in the next PR. Thanks!

[2019-11-18 19:44] #212 closed

[2019-11-18 19:45] #208 closed

[2019-11-18 20:00] shobhitagarwal1612 opened #214 "[Code health] Add badge for Google Cloud Build status"
Proposed idea:
 - Display `passing` or `failure` badge for the cloud build in README (for master branch)

Related blog post:
https://ljvmiranda921.github.io/notebook/2018/12/21/cloud-build-badge/

[2019-11-18 21:48] #47 closed

[2019-11-18 21:48] #205 closed

[2019-11-19 00:57] gino-m commented on #2
Multiple forms are going away, so this bug in now obsolete.

[2019-11-19 00:57] #2 closed

[2019-11-19 11:23] shobhitagarwal1612 opened #217 "[Code health] Fix lint warnings"
1. Run lint check locally:

   1. Via Command-line:
     `./gradlew lintDebug`

   1. Via Android Studio
      - Expand `gradle` side-tab (top-right corner of Android Studio).
      - Click on `Execute gradle task` button (one with the gradle logo)
      - Type `lintDebug` and press OK

1. See the report:
 `gnd/build/reports/lint/lint-result.html`

1. Choose a lint warning and add it to `lint.xml`

[2019-11-19 17:05] gino-m commented on #217
Thanks for the instructions! One question - are the same linter and code analyzer used when running Analyze > Inspect code in Android Studio? Its interactive output in "Inspection Results" is very helpful.

[2019-11-19 17:20] shobhitagarwal1612 commented on #217
Yes. It's the same one. `lint.xml` just gives us the power of customisation.

[2019-11-19 17:29] gino-m opened #220 "[Code health] Add check for license headers"
Hi @shobhitagarwal1612! Is this something we can do via one of the static analysis tools, or do we need to add another to check?

[2019-11-19 17:30] gino-m commented on #217
But can we let Android Studio use the custom `lint.xml`?  Same for PMD and checkstyle?

[2019-11-19 17:38] shobhitagarwal1612 commented on #220
I can create some custom rules for that using the existing tools (if possible).
Rough idea:
 - Create templates for java and xml License header
 - Use them for comparing the top segment of files using one of the existing tools

[2019-11-19 17:40] shobhitagarwal1612 commented on #217
I suppose we can add the IDE settings to the repository for sharing same configuration. Not sure about the details though

[2019-11-19 18:04] gino-m commented on #217
Ok, let's close #219 for now and we can revisit IDE integration later.

[2019-11-19 19:03] scolsen commented on #220
Hehe glad to have inspired this check :P

[2019-11-19 19:08] gino-m commented on #220
Not just you, me as well! :)

On Tue, Nov 19, 2019 at 2:03 PM Scott Olsen <notifications@github.com>
wrote:

--

Gino Miceli |  Developer Programs Engineer |  gmiceli@google.com |  Google
Earth Outreach Developer Relations

[2019-11-19 20:40] #213 closed

[2019-11-19 20:51] #220 closed

[2019-11-19 20:57] gino-m opened #223 "[Code health] Integrate static analysis into developer workflow"
We were discussing the possibility of being able to run checkstyle, PMD, and lint via the IDE. Ideally, these would be run on commit or push to prevent bad code from being checked in. Creating this issue to track discussion. Some initial ideas in this Medium article:
https://proandroiddev.com/ooga-chaka-git-hooks-to-enforce-code-quality-11ce8d0d23cb

@scolsen FYI.

[2019-11-20 18:49] shobhitagarwal1612 commented on #211
It happens because of the empty `google-services.json` kept for cloud builds. I'm not sure how to customize the error message since it gets initialized by itself with the start of the application.

[2019-11-20 18:57] #210 closed

[2019-11-21 15:28] #211 closed

[2019-11-21 16:11] shobhitagarwal1612 opened #230 "[Active project] Indicate currently active project"
After selecting a project from the side-drawer, the title of the selected project is not shown anywhere in the app.

I propose that, we add that info somewhere in the app or change the UI to make it more intuitive (For e.g. Instead of opening a dialog when selecting "Select Project", we expand it and highlight the one selected)

[2019-11-21 17:37] gino-m commented on #230
How about showing the list of projects in a section in the left-side drawer (nav menu)? Then the active one can appear checked/selected.

[2019-11-21 17:43] shobhitagarwal1612 commented on #230
SGTM!

[2019-11-21 17:44] gino-m commented on #230
..this could be similar to how Gmail Android displays labels: https://support.google.com/mail/thread/9052188). Instead of this we'd have something like:

PROJECTS
[icon] Project A
[icon] Project B
[gears] Join/leave projects

Wdyt?

[2019-11-21 17:49] shobhitagarwal1612 commented on #143
Is this up for grabs or is someone already working on this?

[2019-11-21 18:03] gino-m commented on #143
It's all yours! :)

[2019-11-23 13:44] shobhitagarwal1612 opened #235 "[Feature] Generate aab instead of apk"
AAB (android app bundle) builds faster than traditional monolithic APK (android app package) and is much smaller in size.

To build aab, use `./gradlew bundle` instead of `./gradlew assemble`

https://developer.android.com/platform/technology/app-bundle

[2019-11-23 22:42] gino-m commented on #235
What Android API Level is required to use aab, if any?

[2019-11-24 02:31] shobhitagarwal1612 commented on #235
We don't need to do any code-level changes for this. The support for this was included in android studio 3.2

[2019-11-24 18:04] #214 closed

[2019-11-24 23:00] gino-m commented on #143
Besides in the data layer, there are a few instances of "record" in constants and resources:
https://github.com/google/ground-android/search?q=record

[2019-11-26 19:54] scolsen opened #240 "Ant import order check doesn't honor google java-lang-format import order"
Our current lexicographical import order check and the import order auto applied by the java formatter we're using disagree.

e.g. running the formatter yields the following import order:

[code]

Which fails our ant lexicographical import order check:

[code]

[2019-11-26 19:56] scolsen commented on #240
Maybe a better question is why the java formatter puts butterknife last, I have no idea.

[2019-11-26 21:39] gino-m commented on #240
@shobhitagarwal1612 Can we fix the import order config to match https://github.com/google/google-java-format?

[2019-11-27 03:48] shobhitagarwal1612 commented on #240
I'm using google java format plugin and imported the provided XML into Android Studio.

[2019-11-27 03:59] gino-m commented on #240
I think the issue was that google-java-format produces an output in this case that isn't accepted by checkstyle (see scolsen's example above).

[2019-11-27 04:32] shobhitagarwal1612 commented on #240
It works for me! I'll share the link of the xml that I'm using.
https://github.com/google/styleguide/blob/gh-pages/intellij-java-google-style.xml

https://plugins.jetbrains.com/plugin/8527-google-java-format
See the first review by Aaron Pieper. It says that the plugin doesn't handle the import order by itself. Importing the above mentioned xml does the trick.

[2019-11-27 14:44] gino-m opened #242 "[Observation Details] Error when opening observation details after clicking back from details"
**To Reproduce**
Steps to reproduce the behavior:
1. Select a feature with observations
2. Click any observation
3. Click back
4. Click any observation

And error occurs because the observation is not found.

[2019-11-27 14:47] gino-m commented on #242
@scolsen @shobhitagarwal1612 @deepakbansal
Observations are being deleted from the local db when features were being updated. After some debugging I found the cause: with `@Insert(onConflict = OnConflictStrategy.REPLACE` declared on an Entity, if the record already exists on insert it will be deleted and inserted. The delete will trigger any cascading deletes defined on foreign keys, so when featu

[2019-11-27 15:43] gino-m commented on #240
I didn't realize we needed a custom config for the formatter. Good find!

Would it make sense at this point to check in a subset or all of the
Android Studio configuration, so that this an other setting can be provided
automatically?

[2019-11-28 05:50] shobhitagarwal1612 commented on #240
Android Studio configuration, so that this an other setting can be provided
automatically?

I tried that and it works. The only problem is, there would be inconsistency if we continue using the `google-java-format`. So, either we remove plugin and check-in the project level styling for automatic configuration or add instructions to do it manually as in #243

[2019-11-28 07:14] shobhitagarwal1612 opened #245 "[Bug] Blank screen after pressing back from home screen"
**Describe the bug**
Blank screen appears after pressing back button in home screen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home screen
2. Press 'back' button
3. White blank screen appears

**Expected behavior**
App should either close or show confirmation to exit

[2019-11-28 08:46] shobhitagarwal1612 commented on #245
We can apply a workaround to fix the behavior but that wouldn't be the best solution.
I've noticed that `popUpTo` and `popUpToInclusive` in nav_graph.xml aren't functioning as they are supposed to. @gino-m Is this behavior same from the beginning or did it break after some time?

[2019-12-02 15:46] gino-m commented on #245
Those attributes have never behaved as I expected them to, but I haven't
figured out if we were using the API wrong or if it's a bug.

[2019-12-02 20:53] gino-m commented on #240
Ah! So I thought intellij-java-google-style.xml was a custom config for google-java-format, but it sounds like it just reconfigures the default formatter. If that's the case I'm in favor of using that instead of the plugin to simplify the environment set up, especially if the formatting implemented by that config matches the CI lint rules.

[2019-12-02 21:41] gino-m commented on #122
Some potential splash images:
https://photos.app.goo.gl/nJJpE46xXDmaiCXW9

Once we have a background placeholder checked in please let me know and I'll overwrite with one these.

[2019-12-04 22:40] gino-m opened #249 "[Observation list] Add observation button disappears on back"
This occurs after adding, editing, or viewing an observation

[2019-12-04 22:41] gino-m opened #250 "[Add/edit observation] Some values missing after saving"
After saving a new/existing observation, done fields appear blank in the observation list and observation details fragment. Closing and opening the feature details sheet causes the actual values to appear.

[2019-12-05 03:42] gino-m commented on #84
A few more thoughts while investigating adding consistent error handling:

* Where do we report errors to the user? Ideally all user-visible logic should live in views, which implies we'd like to report errors as far downstream as possible (i.e., in callers rather than functions returning streams). It might make sense for an eventual `ErrorHandler` class that requires a View context rather than th

[2019-12-05 22:30] #240 closed

[2019-12-06 18:06] shobhitagarwal1612 commented on #188
W/CrashlyticsCore: Cannot send reports. Settings are unavailable.

Doesn't work with the newly created project too.

[2019-12-06 18:45] gino-m opened #253 "[Code health] Simplify back navigation using global actions"
Back wasn't working as expected with global actions, leading to #245. Further investigation is needed to be able to remove workaround in #247.

[2019-12-06 18:46] #245 closed

[2019-12-06 18:48] gino-m commented on #188
Any ideas what the problem could be?

[2019-12-08 00:08] #242 closed

[2019-12-08 00:08] #92 closed

[2019-12-08 18:13] gino-m opened #255 "[Offline sync] Firebase unable to connect after Airplane Mode switched off"
In Android emulator:

1. Turn on Airplane Mode
2. Add/edit observations
3. Turn off Airplane Mode

The following appears is LogCat twice:
[code]

Then:
[code]

The error loops until  it manages to reconnect (1+ min?).

[2019-12-08 18:33] gino-m opened #256 "[Offline sync] Cleared fields gets reverted on sync"
1. Turn on Airplane Mode
1. Add and save an observation
1. Edit the observation and delete a value so that the field is blank
1. Turn off Airplane Mode
1. Data syncs, cleared field returns

[2019-12-08 18:35] gino-m commented on #250
Observation mutations are actually overwriting the entire observation in the local datastore rather than merging with it if it exists.

[2019-12-08 18:44] gino-m commented on #256
* This same applies for both multi-select and text fields.
* The delta is never written to the local data store.

[2019-12-13 23:12] gino-m opened #262 "[CI] Cloud build fails with "repository 'tmp' does not exist" on copy_git_directory"
[code]

[2019-12-14 07:57] gino-m opened #263 "[CI] Update build status badge link to point to Cloud Build dashboard"
@shobhitagarwal1612 would you like to update this one? The link currently points at the root of the ground-android repo.

[2019-12-15 23:07] #263 closed

[2019-12-15 23:32] gino-m opened #268 "[Doc] Refactor dev workflow out of README.me into CONTRIBUTING.me"
README is visible at https://github.com/google/ground-android and includes instructions on how to contribute. CONTRIBUTING.md also contains guidelines for contributing. Ideally we'd only have these instructions in one place. Would it make sense to move them out of the README.md and reference CONTIBUTING.md there instead?

[2019-12-15 23:33] gino-m commented on #268
@mmisim Wdyt?

[2019-12-17 06:57] shobhitagarwal1612 opened #270 "[Cloud Build] Save gradle cache only if dependencies have been updated"
Currently, we zip and copy gradle cache to GCS with every successful trigger. This takes ~ 40 seconds and doesn't add any value if the dependencies haven't been updated in the current pull request.

Ideas:
 * Generate hash (md5) for `build.gradle` files (both project and app level)
 * Run `Compress gradle build cache` and `Save gradle cache to GCS` steps only if the combined hash has been modified

[2019-12-17 07:01] shobhitagarwal1612 commented on #262
Can't reproduce the bug

[2019-12-18 05:00] #148 closed

[2019-12-18 21:56] #268 closed

[2019-12-18 22:17] gino-m commented on #262
I'll close for now, will reopen if it recurs.

[2019-12-18 22:17] #262 closed

[2019-12-18 23:54] #249 closed

[2019-12-18 23:54] #250 closed

[2019-12-18 23:54] #256 closed

[2019-12-19 00:33] gino-m opened #273 "Why are we using last project id when loading a new project by id?"
Wasn't sure if this was a bug or intended?
https://github.com/google/ground-android/blob/2e8ed982d7b40d82d1a6e3d02f2ad106d5247647/gnd/src/main/java/com/google/android/gnd/repository/DataRepository.java#L121-L139

[2019-12-19 01:02] scolsen commented on #273
Hm, yeah seems like a slight error here... It looks like we only use the last project id if we fail to load the project from the remote, but really we should be loading the local version of whatever project we attempted to fetch instead of the last active project--right?

Really the sequence should be something like:

- get project from remote
- if fail, get project from local
- if fail, use last

[2019-12-19 04:15] shobhitagarwal1612 commented on #273
Agreed, it's a fault on my side. I'll fix it.

[2019-12-19 04:20] gino-m commented on #273
No worries! Just wanted to make sure I didn't misunderstand. I'm revising
the activate project flow and sending a draft PR with the general id
shortly. Want to wait until I get that out?

[2019-12-26 06:04] gino-m commented on #84
Snippet for wrapping/unwrapping mapped streams in `ValueOrError` objects:
https://gist.github.com/gino-m/efcfd158a4d6e4461ac17a1a064d8a7e

[2019-12-26 06:07] gino-m commented on #84
I was just verifying this and I'm not convince this is the case. Will double check.

[2019-12-26 15:14] gino-m opened #279 "[Code Health] Only fall back to local db on network failures"
We currently silently eat all remote data store errors. See
https://github.com/google/ground-android/pull/274#discussion_r361377361 by @shobhitagarwal1612 .

[2019-12-26 17:23] #186 closed

[2020-01-02 02:41] gino-m commented on #273
This was fixed in a recent PR so marking closed.

[2020-01-02 02:41] #273 closed

[2020-01-02 02:54] gino-m commented on #101
@shobhitagarwal1612 @scolsen Any thoughts on how we should represent this internally? Some initial options:

1. Store entire `User` (internal id, email, display name, profile url) or some subset of those fields in each `Feature` and `Observation` and related mutation entities to track and visualize owner in app (i.e. "Submitted by X on..".  Display name can be shown without additional queries, but

[2020-01-03 00:49] gino-m commented on #127
I'm not confident this is actually what we want, so unassigning but leaving open for discussion.

[2020-01-03 00:49] gino-m commented on #87
Forking into more specific #202.

[2020-01-03 00:49] #87 closed

[2020-01-03 00:59] gino-m commented on #13
We're now using strict mode for Firebase threads and receive no errors in main flows, so this probably can be closed.

[2020-01-03 00:59] #13 closed

[2020-01-03 01:00] gino-m commented on #3
Back now closes the app as expected. Thanks @shobhitagarwal1612 for the fix!

[2020-01-03 01:00] #3 closed

[2020-01-03 01:02] gino-m commented on #9
This has been mostly done iiuc, so unassigning for now. I'll keep this issue open to track cleanup of the last holdouts.

[2020-01-04 00:33] gino-m commented on #101
Haven't heard back so proceeding with Option 1 for now since it's the shortest path. We can either normalize user data, or create offline triggers to update display names and profile pics later if necessary

[2020-01-04 02:33] gino-m opened #290 "[Offline sync] Local changes not synced with remote"
Workers kick off, but not mutations are returned by `LocalDataStore.getPendingMutations()`.

[2020-01-04 06:40] #290 closed

[2020-01-04 06:46] shobhitagarwal1612 commented on #101
Sorry for the late reply.

I'm in favor of option 2 because that would not require us to sync the updated user info in the respective `feature` and `observation`. Regarding read performance, we can modify our `Repositories` to load user data from local db first and then fetch from remote.

[2020-01-05 00:39] gino-m opened #292 "[Code health] Replace Date with long throughout"
`Date` is mutable and isn't thread-safe. Since we only use `Date` for timestamps, these can be replaced with simple longs.

[2020-01-05 23:55] gino-m commented on #188
I now can see the dashboard on two of our three dev projects. Please ping when you're around and I can point you a working instance offline (please do not share here).

[2020-01-06 02:39] gino-m commented on #101
In Firebase you don't have anything like "joins", in which case we would need to send one request for each unique user across all synced Features, and the same for all synced Observations. We would also need to keep all of these users on-device in the User table, and join on that table or create some cache when loading.

Overall this seems to be a lot more work to implement. I'm almost done implem

[2020-01-06 04:29] gino-m opened #294 "[Auth] Can't sign in"
Clicking "Sign in with Google" on sign in page and selecting an account has no effect.

The issue appears to be in `Navigator.showSignInScreen`; the id returned by `getNavController().getCurrentDestination().getId()` is not recognized.

Stack trace:
[code]

[2020-01-06 18:59] shobhitagarwal1612 commented on #294
Working on it!

[2020-01-06 19:10] shobhitagarwal1612 commented on #294
I'm unable to reproduce the bug. @gino-m Can you consistently reproduce the bug?

[2020-01-07 02:39] gino-m commented on #294
Sorry, I forgot that to repro I had to turn back on airplane mode. Just sent a fix!

[2020-01-07 02:56] gino-m commented on #101
Duplicate of #79.

[2020-01-07 02:56] #101 closed

[2020-01-07 02:59] kh0kv commented on #187
SBFTY8N4

[2020-01-07 03:00] kh0kv commented on #187
https://github.com/google/ground-android/issues/187#issuecomment-571411466

[2020-01-07 03:00] kh0kv opened #296 "https://github.com/google/ground-android/issues/187#issuecomment-571411466"
https://github.com/google/ground-android/issues/187#issuecomment-571411466

[2020-01-07 03:00] kh0kv commented on #296
https://github.com/google/ground-android/issues/187#issuecomment-571411466

[2020-01-07 03:14] gino-m commented on #296
Was this posted in error? If you meant to file a feature request or bug, please use one of the templates available at https://github.com/google/ground-android/issues/new/choose.

[2020-01-07 03:14] #296 closed

[2020-01-07 03:14] kh0kv opened #297 "[Feature] Description"

[2020-01-07 03:15] gino-m opened #298 "[Project activation] Can't reactivate project when opening app w/o network"
**Describe the bug**
The "Project loading" progress dialog spins forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Close the app
2. Turn on Airplane Mode
3. Reopen the app

[2020-01-07 04:22] gino-m opened #299 "[Auth] Mutations should be written to server using token of initiating user"
Currently this is done in the background worker by the currently logged in user.

[2020-01-07 06:05] #294 closed

[2020-01-08 03:40] gino-m opened #300 "[Data sync] Features not removed when deleted remotely"
Deleting a feature in the remote data store does not update the map.

[2020-01-08 16:35] gino-m opened #301 "[Code health] Fetch User from local db together with Mutations"
We could then remove the need to group mutations by `User`, and would not need to pass around the `User` to all mutation methods.

[2020-01-08 22:23] gino-m commented on #298
Stack trace:
[code]

[2020-01-08 22:44] gino-m opened #303 "[Offline support] Show warning when offline and no projects in local db"
Warn user that a network connection is required to join projects or similar.

[2020-01-08 22:58] #298 closed

[2020-01-08 23:29] gino-m opened #305 "[Project sync] Deleted forms, options, etc. not removed from local db when updating project"
The current sync logic in `RoomLocalDataStore` only inserts or updates existing rows. We also need to delete items that are no longer found in the project. One way to do this would be delete the entire project and reinsert it when updating (preferably in a single transaction, e.g. using cascading deletes).

[2020-01-09 02:07] gino-m opened #306 "[Offline support] Load project list from local db when offline"
Currently, if the user user clicks "Join project" when offline, the project list is empty.

[2020-01-09 02:09] gino-m commented on #306
Hi @shobhitagarwal1612! This is an extension of the offline project sync that you implemented - care take a look at this one? An alternative would be to show a message saying "can't change projects when offline", but it seems easy enough to fall back to local db for the project list. Wdyt?

[2020-01-09 02:31] #79 closed

[2020-01-09 02:36] gino-m opened #307 "[Location lock] Clicking "OK" to enable settings doesn't work"
1. Click location lock (crosshairs fab)
2. Say yes and ok to all prompts
3. "Please enable location in system settings" toast appears

Activity result returned is "0", `RESULT_CANCELED`, even when clicking "OK".

[2020-01-09 20:51] scolsen opened #308 "[Offline base map] Select and Download Offline Areas"
- [ ] Provide a selector UI for users to select regions of the map for offline viewing.
- [ ] Download selected offline areas to the device in the background.
- [ ] Notify users of download failures.
- [ ] Resume interrupted downloads.

Related: #10 #20

@gino-m FYI

[2020-01-12 16:48] shobhitagarwal1612 commented on #306
This looks like a regression. I tested this feature while working on the offline sync

[2020-01-12 17:16] shobhitagarwal1612 commented on #306
The problem is that the `FirebaseFirestoreException` is not getting thrown on making remote calls

[2020-01-13 05:20] gino-m commented on #306
I see. Can we fall back to the local db on any exception for now?

[2020-01-13 07:04] shobhitagarwal1612 commented on #306
The problem is that no exception is being thrown at all. So, `doOnError` and `onErrorResumeNext` don't get called

[2020-01-13 15:16] gino-m commented on #306
Perhaps it's getting thrown, but getting eaten somewhere upstream? Can you try logging `doOnError` as for upstream as possible? (e.g., in our `GndFirestore`class?)

[2020-01-14 11:56] shobhitagarwal1612 opened #310 "[Feature] Integrate Firebase Storage for uploading photos"
https://firebase.google.com/docs/storage/android/start

Add capability to upload photos to firebase storage.

- [x]  Prototype uploading images to Firebase Storage

- [x] Create new Field type, ‘photo’ - plumb through data model and local and remote persistence

- [x] UI for uploading photos / show thumbnails

- [x] Add storage runtime permissions

- [x] Capture photos / Select from local storage

[2020-01-16 02:01] gino-m opened #312 "[Docs] Wiki page describing debugging methods"
- [ ] Stetho for SQLite and UI layout debugging
- [ ] Rx debugging methods
<add others here>

[2020-01-16 02:01] gino-m commented on #307
This may be related to the image we were using the emulator (Google APIs). See comment at https://issuetracker.google.com/118347902#comment25

I've deleted the SQLite debugging wiki page that recommended using those images, filed #312 to add updated debugging docs.

[2020-01-16 02:13] gino-m opened #313 "Project selector appears after location settings resolution"
1. Turn off "location" in settings
2. Enabled GPS lock in the app
3. Answer "OK" in the dialog to reenable location settings

The project selector reappears and is non-responsive.

[2020-01-16 02:14] gino-m commented on #307
Also, new bug filed: #313

[2020-01-16 02:14] #307 closed

[2020-01-16 09:34] shobhitagarwal1612 commented on #306
Digging deeper into the source from where the issue gets generated. Adding `doOnError` in `GndFirestore` class also didn't help.

[2020-01-17 02:16] gino-m opened #321 "[Code health] Break up AbstractFluentFirestore"

[2020-01-17 02:16] gino-m opened #322 "[Code health] Break up GndFirestore"

[2020-01-17 02:21] gino-m opened #323 "[Code health] Replace Firestore toObject() with runtime type checking"
`DocumentSnapshot#toObject()` auto fills POJOs, but has some shortcomings:
* Fields in the db with a different type than the POJO fields result in `toObject()` failing with and error.
* We need Yet Another Model Class for the intermediate representation (e.g., `ProjectDoc`).
* We still need field names in strings constants to do partial document updates and queries.

[2020-01-17 02:22] gino-m commented on #323
@shobhitagarwal1612 @scolsen wdyt? Does this make sense?

[2020-01-17 03:56] gino-m commented on #306
You're absolutely right. The stack trace above wasn't from the actual loading of the feature, not the project list.

It appears that Firestore SDK's `Query#get()`, which is used by `RxFirestore#getCollection()`, returns an empty `QuerySnapshot` instead of an error.

I tried to force an error by invoking `ref.getFirestore().enableNetwork()`, but that doesn't fail immediately; sometimes it keeps try

[2020-01-17 06:36] #306 closed

[2020-01-17 07:55] #223 closed

[2020-01-23 21:27] #313 closed

[2020-01-27 19:36] gino-m opened #334 "[Code health] Consolidate string resources"
From @shobhitagarwal1612:

https://github.com/google/ground-android/pull/332#issue-367091582

I don't remember why we have these duplicate strings - consolidating and using default strings sounds good.

[2020-01-28 06:36] #321 closed

[2020-01-28 19:24] gino-m opened #336 "[CI] Checkstyle fails on google_maps_api.xml"
Error:
Missing a header - not enough lines in file.

@shobhitagarwal1612, do we need to set up checkstyle to explicitly ignore  local-only files?

[2020-01-29 14:50] shobhitagarwal1612 commented on #336
There is already an `excludes` section in checkstyle.gradle

https://github.com/google/ground-android/blob/master/config/checkstyle/checkstyle.gradle#L44

[2020-01-29 16:08] gino-m commented on #336
Thanks! Actually I just realized `google_maps_api.xml` is obsolete, replaced with `secrets.properties`; I had an old copy on my work laptop, and was confused because we still mention it in `AndroidManifest.xml`.

[2020-01-29 18:21] #336 closed

[2020-01-29 21:37] #322 closed

[2020-01-31 00:32] kh0kv opened #340 "[Feature] Description"

[2020-01-31 00:33] kh0kv opened #341 "high:!aNULL:!MD5:!RC4"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-01-31 02:24] shobhitagarwal1612 commented on #340
Please open a new issue with the complete template filled. Closing this one

[2020-01-31 02:24] #340 closed

[2020-01-31 06:02] shobhitagarwal1612 commented on #341
Please explain what the actual issue is. Feel free to open another one. Thanks!

[2020-01-31 06:02] #341 closed

[2020-02-12 21:39] gino-m commented on #334
@dturner  is there any official guidance on whether to merge identical UI strings or not?

We didn't proceed with the linked PR because in some case we have what appear to be duplicate strings for different actions in different UI surfaces. I assuemd splitting strings semantically rather than literally is important because the same phrases may be worded differently in different languages. It also

[2020-02-12 22:51] gino-m commented on #323
Looking at #337, maintaining `Map`s for all entities in Firestore seems to incur more code complexity than the flexibility it affords us, so abandoning this approach.

[2020-02-12 22:51] #323 closed

[2020-02-12 22:52] gino-m commented on #303
Currently, the project list will appear empty.

[2020-02-12 22:55] #297 closed

[2020-02-12 22:56] gino-m commented on #255
Assigning to myself to verify if this still occurs.

[2020-02-12 23:09] #189 closed

[2020-02-12 23:09] gino-m commented on #188
Let's revisit this once migrate to the new Firebase dev instance.

[2020-02-12 23:13] gino-m commented on #143
We can hold off on updating the remaining instances of `featureType` and `record` until the new web console is fully operational. This will make it easier to create and manage projects being used for development.

[2020-02-12 23:14] gino-m commented on #137
Duplicate of #230.

[2020-02-12 23:14] #137 closed

[2020-02-12 23:17] gino-m commented on #112
Assigning for now to make this issue easier to find - let's discuss in more detail offline once we get to it!

[2020-02-12 23:39] gino-m commented on #102
Looks like @mmisim already did this, so closing this.

[2020-02-12 23:39] #102 closed

[2020-02-12 23:42] gino-m commented on #86
Blocking `currentUser()` method exists in `AuthenticatonManger` so marking closed.

[2020-02-12 23:42] #86 closed

[2020-02-12 23:43] #85 closed

[2020-02-12 23:43] gino-m commented on #85
Done, closing.

[2020-02-12 23:45] gino-m commented on #84
Updated description to clarify what we need to verify.

[2020-02-12 23:49] gino-m commented on #46
To further reduce boilerplate, we can remove both create() and Builder and use constructors instead.

[2020-02-12 23:52] gino-m commented on #25
Done!

[2020-02-12 23:52] #25 closed

[2020-02-12 23:56] gino-m opened #351 "[Add feature] Show observation form immediately after adding feature"

[2020-02-12 23:58] gino-m opened #352 "[Feature sheet] Replace observation list rows with previews of completed forms"

[2020-02-13 00:03] gino-m opened #353 "[Add/edit observation] Allow multiple select fields to be shown inline"
Add an option to the field metadata `style="inline` to signal the checkboxes/options should be shown directly on the form. This will be useful for short list where it will save the user an additional two taps per field (~tap field~, select options, ~tap apply~)

[2020-02-13 00:05] gino-m opened #354 "[Feature sheet] Special treatment for layers with no observation form"
Consider reducing height of feature sheet or showing a message when no form is defined for a layer.

[2020-02-13 00:09] gino-m opened #355 "[Feature sheet] Show message if no observations"
A warning could be shown in the feature sheet when offline. This is important to differentiate between
- When there are no observations cached locally vs. actually no observations
- When observations shown are loaded from cache and may be stale

As per discussion in #434, the message would look something like:
Online state: "No observations found for this site. Click "Add observation" to start col

[2020-02-13 00:10] gino-m opened #356 "[Feature sheet] Show message inline when feature has no observations"

[2020-02-13 00:10] gino-m opened #357 "[Map] Visualize line and polygon map features"
These will be represented as GeoJSON in the db.

This involves:
- [ ] Reading GeoJSON from remote db
- [ ] Storing GeoJSON in local db
- [ ] Show lines and polygons on the map.

@daoyut could you kindly ping an example of the format used here?

[2020-02-13 00:11] gino-m opened #358 "[Add polygon] Implement polygon drawing flow"
Click to see mock of full flow. Thanks @coreyleamon for the design!
![Option 4](https://user-images.githubusercontent.com/228050/111845304-f33c5e80-88da-11eb-9dd1-0162906d406a.png)

[2020-02-13 00:11] gino-m opened #359 "[Edit feature] Editing of existing line and polygon features"

[2020-02-13 00:12] gino-m opened #360 "[Drop a pin] Make "drop a pin" task flow more intuitive"
The current "add feature" flow doesn't work well for polygon drawing, since the user will need to select the layer _before_ drawing the polygon. It's also surprising that a point gets added immediately after selecting the layer, without any prompt to select location.

The current flow:

1. Drag map to desired location
1. Click "+" fab
1. Select layer from popup
1. Feature is added to map and featu

[2020-02-13 00:13] gino-m opened #361 "[Geolocation] GPS point averaging"
Consists of averaging location over a period of time to obtain a more accurate location.

Can be exposed in interstitial described in #360 for example.

[2020-02-13 01:46] gino-m opened #362 "[Feature sheet] Reenable map interactivity in feature sheet"
We previously locked the map when the sheet is expanded so that they user would always have context about the currently selected feature.  While demoing the prototype, we noticed users often try to tap other markers visible on the map or try to pan, are they're often surprised this doesn't work. Some ideas for a better solution:

- [ ] Do not [un]lock the map when sheet is expanded/collapsed
- [ ]

[2020-02-13 01:50] gino-m opened #363 "[Map] Enlarge marker of selected LOI"
It's currently difficult to understand which marker is selected.

Suggestion:
![image](https://user-images.githubusercontent.com/228050/74393841-34f5fe00-4dd9-11ea-916e-fbd9bcd385f3.png)

[2020-02-13 01:52] gino-m opened #364 "[Map] Adjust marker size based on zoom level"
Zoom level < 16:
![image](https://user-images.githubusercontent.com/228050/74393992-8f8f5a00-4dd9-11ea-8d6d-0168520b12be.png)

Zoom level >= 16:
![image](https://user-images.githubusercontent.com/228050/74393978-84d4c500-4dd9-11ea-9072-6809f00bb60e.png)

[2020-02-13 02:18] gino-m opened #365 "[Map] Use custom Ground map marker"
We must also adjust the fill color based on the layer default style

[2020-02-13 05:59] shobhitagarwal1612 commented on #188
Sorry, I missed the 6th Jan comment.

[2020-02-13 16:12] gino-m opened #366 "[Feature sheet] Gap between bottom of sheet and system inset when expanded"
I was unable to get bottom sheet to fill the viewport when there weren't enough observations in the list to expand it to full height; hard coding `height` and `minHeight` on various layout components had no effect.

[2020-02-14 19:55] #188 closed

[2020-02-15 19:51] shobhitagarwal1612 commented on #366
Can you please attach a screenshot?

[2020-02-17 19:34] gino-m commented on #366
I plan to take this to speak to a colleague who works on Android MD components to debug, please disregard for now!

[2020-02-17 20:49] dturner commented on #334
Taking a look at the [string resources in the IOsched app](https://github.com/google/iosched/blob/master/mobile/src/main/res/values/strings.xml) (which attempts to follow best practice) it looks like the following convention is used:

- `name` 2-4 word semantic description of the string
- `translation_description` describes what the string is used to communicate, where it is presented and any even

[2020-02-17 22:15] gino-m commented on #334
Ok, that sounds reasonable. Thanks for the input!

@shobhitagarwal1612 since you already did this, case to patch #346 and send a PR?

[2020-02-17 22:36] gino-m commented on #84
@dturner Going through the code you may have noticed that we have inconsistent handling of error states, esp. wrt persistence. Some are propagated to the UI layer and handled there, while others are handled (logged and ignored) in the Repository layer.

The most complex use case is when we read multiple map features from remote and sync them to the local db in a background thread, with the UI laye

[2020-02-17 23:02] gino-m commented on #84
See also big refactor PR #371 for reference.

[2020-02-18 04:05] gino-m opened #373 "[Feature sheet] Use new marker style in header"

[2020-02-18 06:03] shobhitagarwal1612 opened #374 "Automatically run code checks locally"
From comment https://github.com/google/ground-android/pull/370#pullrequestreview-359936471

- Run code check on commit instead
- Realtime warnings in Android Studio (probably by using a plugin)

[2020-02-18 06:31] shobhitagarwal1612 commented on #334
Sure. Thanks for the guidance.

[2020-02-19 14:18] #334 closed

[2020-02-19 20:16] gino-m opened #377 "spotbugs sometimes eats PMD and/or compile errors"
This may be due to other build issues (compile? PMD?) that cause there to be no classes generated, but spotbugs is being run anyway, masking the error.

[2020-02-19 20:16] gino-m commented on #377
Shobhit and chance you could take a look at this or advise how to fix?

[2020-02-19 22:12] gino-m opened #378 "[View/edit observation] Improved toolbar header and breadcrumb"
Header currently shows the name of the current layer. Some improvements:
- [x] Vertically center toolbar header
- [ ] Show "Add/view/edit observation" for context
- [ ] Better treatment of layer name (show marker as well?)
- [ ] For View/edit, show creator and creation timestamp?

[2020-02-20 14:42] dturner commented on #377
Ran into this issue as well. Then pulled down #376 and it went away.

[2020-02-20 14:50] gino-m commented on #377
Let's see if building and running `checkCode` in separate steps helps. Note that `checkCode` target runs other all other post-build code checks (PMD, spotbugs, etc).

[2020-02-24 17:15] #117 closed

[2020-02-27 22:21] gino-m opened #380 "Scale app icon so that it fills the full frame for other icon shapes"
Currently, it appears as a grey circle in a white squircle in some launcher.

[2020-03-03 16:26] gino-m opened #381 "[Code health] Abstract Maps API LatLng* with custom model class"
We shouldn't expose Maps API to Ground business logic, both to enforce SoC/Clean arch, and to allow us to add other maps providers in the future.

[2020-03-05 12:03] dturner opened #382 "[Feature] After opening a project the map should focus on the project area"
Currently when you open a project the map opens on Mali (presumably this is the centre point on a world map). It would be good if the map opened where the project was located e.g. zoomed in on any location pins on that map - that would save the user having to scroll and zoom to find their project's location.

[2020-03-05 13:35] gino-m commented on #366
This is likely a result of is holding it the wrong way - the current bottom sheet + map implementation is a bit messy. If there's a cleaner, canonical way of configuring the layout and fragments it probably prevent UI glitches like this one.

To repro, add a point to the map (hit +, select layer) or tap and existing point, then scroll the sheet up to full height.

[2020-03-05 13:36] gino-m commented on #366
![Screenshot_20200305-083545](https://user-images.githubusercontent.com/228050/75986587-5ae45f00-5ebc-11ea-9ace-bdd5876f5572.png)

[2020-03-05 16:22] gino-m opened #383 "[Main screen] Try to enable location lock when the app is opened"
Currently, there viewport is not explicitly defined when the app is opened. We assume users will be collecting data in situ, so it generally makes sense to pan/zoom the map to their current location.

Note: the project selector will be moved to its own fragment in which the map will not be shown, so for now it's ok to show attempt location lock as soon as the HomeScreenFragment is shown.

[2020-03-05 16:22] gino-m commented on #382
Our current assumption is that users will be mostly in the place where they will be collecting data. I thought I had file a bug about this but I can't find it; I probably only added a TODO in the code. Filed #383 to track.

[2020-03-05 16:25] gino-m opened #384 "[Project select] Move project selector into its own fragment"
Moving project selector outside of `HomeScreenFragment` makes sense because eventually we will show large thumbnails, and we don't want the map and nav menu to be accessible in this state.

See also #111, #383. @dturner FYI.

[2020-03-07 04:29] #365 closed

[2020-03-10 20:37] dturner commented on #366
I'm sorry I don't see the issue. Is it that there's a dark blue line under the +Observation FAB? Or that the title "Community limit" is not vertically aligned to the center of the title bar?

[2020-03-10 20:59] gino-m commented on #366
It's the dark blue line - that line is because the sheet height isn't stretching to fill the viewport, and the background is peeking out.

[2020-03-10 21:06] gino-m commented on #366
Note that although the issue is only aesthetic, I think our inability to fix it may be due to using BottomSheet and CoordinatorLayout incorrectly.

[2020-03-11 14:14] #230 closed

[2020-03-11 14:19] gino-m commented on #310
@shobhitagarwal1612 FYI:

Select photo UI:
![image](https://user-images.githubusercontent.com/228050/76426508-8b773d80-6381-11ea-90e5-09a89fce82bf.png)
(except link should say "ADD PHOTO", show in application accent color)

Thumbnail:
![image](https://user-images.githubusercontent.com/228050/76426684-c4171700-6381-11ea-8d5a-d41af06148f2.png)
Shown immediately below field label.

[2020-03-12 12:49] dturner opened #387 "App crashed on emulator with "Unhandled Rx error" after adding observation"
**Describe the bug**
The app crashed after I tapped "Save" on the Add observation screen. I was running on the Pixel 3 emulator with API 29

**To Reproduce**
Steps to reproduce the behavior:

- Open Ground app
- Choose "Ground Session 1" project
- Tap the Add FAB
- Choose "Turtle nesting sites"
- Tap Add observation
- Complete the form and tap Save

**Actual behavior**
- App crashed

**Expected be

[2020-03-12 14:15] dturner opened #388 "FAB button is greyed out even after selecting a project"
**Describe the bug**
After selecting a project the FAB button on the home screen remains greyed out

**To Reproduce**
- Load ground app
- Choose a project

**Expected behavior**
FAB button changes color (green IIRC) and becomes active

**Actual behavior**
FAB button stays greyed out and does nothing when you tap on it

**Screenshots**
![image](https://user-images.githubusercontent.com/873212/76530

[2020-03-12 14:18] dturner opened #389 "Github issue template - Please add "actual result" heading"
On the bug issue template please could we add a heading titled **actual behavior** below **expected behavior**. This makes it clear to issue reporters that they need to specify what the problematic behavior is.

I would do it but I don't have access.

[2020-03-12 14:37] dturner commented on #366
I couldn't repro on Pixel 3 device and Pixel XL emulator. Here's what I see on the Pixel XL:

![image](https://user-images.githubusercontent.com/873212/76531183-bf7b5d00-646c-11ea-99a8-05d71ceda1bb.png)

Which device(s) are you seeing this on?

[2020-03-12 14:49] gino-m commented on #387
Looking at the error message it appears you're using an older build - could you kindly pull from upstream `master` and try again?

[2020-03-12 14:50] gino-m commented on #388
Can you repro with the latest at HEAD?

[2020-03-12 14:52] gino-m commented on #389
Good idea, thanks for the suggestion. Updated!

[2020-03-12 14:52] #389 closed

[2020-03-12 14:55] gino-m commented on #366
Looks like you're on a super old version of the codebase - please `git pull upstream master` and try again!

[2020-03-12 16:56] dturner commented on #387
That was it, sorry for the noise!

[2020-03-12 16:56] #387 closed

[2020-03-12 17:00] dturner commented on #388
Fixed with latest HEAD. Apologies, must remember to `git pull` regularly!

[2020-03-12 17:00] #388 closed

[2020-03-12 17:00] dturner commented on #366
With latest head I can repro.

[2020-03-13 20:51] gino-m opened #393 "[Offline projects] Layers not loaded for some projects"
..even though present in db, and properly deserialized by converters, layers are sometimes not written to the db. As a result, the layer selector is blank after clicking "+" to add a feature.

[2020-03-13 21:04] gino-m commented on #393
Possible culprit:
[code]

[2020-03-15 19:56] #393 closed

[2020-03-16 21:08] shobhitagarwal1612 opened #396 "[View/edit observation] Order of fields not consistent"
**To Reproduce**
Steps to reproduce the behavior:
1. Select "Plastic Frog Finder" project
2. Click on "+" to add observation

**Expected behavior**
Photo field should be at the last

**Actual behavior**
Photo field is at position 3

**Screenshots**
![image](https://user-images.githubusercontent.com/8918023/76799622-e2ed3180-67f7-11ea-8b1a-b0b54e060094.png)

[2020-03-16 21:10] gino-m commented on #396
This will probably be fixed once we switch from semantic ordering (legacy schemas) to index-based ordering of form elements.

[2020-03-18 15:43] gino-m opened #400 "[Code health] Rename "Tile" class to "TileSource""
Since each "Tile" instance actually represents a way of fetching multiple tiles for an extent.

[2020-03-20 10:19] shobhitagarwal1612 opened #405 "[AppFeatureNameHere] Improve UI for observation list in FeatureSheet"
Current state:
A list of observations along with the code of filled values are displayed (not all because of space constraints)

Displaying the value code doesn't look human friendly. Also, this cannot display all fields for longer forms.

Is there a better way to represent it? Some possible ideas:
 - Hide all field label / values
 - Only show total no of answered fields
 - Add an avatar or gmail

[2020-03-20 16:20] gino-m opened #408 "[Offline sync] Allow user to specify connection types required for syncing"
Allow user to enable "Wait for Wifi" for: Photos, Uploading observations, Downloading new features (wording and UX TBD). @coreyleamon FYI.

[2020-03-20 17:34] gino-m commented on #126
Duplicate of #352.

[2020-03-20 17:34] #126 closed

[2020-03-20 17:35] gino-m commented on #405
Agreed.. we're planning to address this in #352. Let's continue discussion there!

Note - please be sure to replace "AppFeatureNameHere" with the name of the feature in question when creating issues.

[2020-03-20 17:35] #405 closed

[2020-03-20 17:45] shobhitagarwal1612 commented on #405
Thanks!

[2020-03-20 20:31] shobhitagarwal1612 opened #409 "[Code health] Decide whether to use OneTimeWorker in WorkerManager"
From https://github.com/google/ground-android/pull/404#pullrequestreview-378776788

@gino-m - "One note - it's not clear to me if we'd want to use one OneTimeWorker for each photo, or a single worker enqueued with enqueueUniqueWork and a queue in the db. The latter may be useful for having more control over the queue and tracking progress."

[2020-03-22 13:49] shobhitagarwal1612 commented on #110
Is someone working on this?

[2020-03-23 16:27] gino-m opened #411 "[Feature sheet] Observation list doesn't update when a new observation is saved"
**To Reproduce**
Steps to reproduce the behavior:
1. Add a feature
2. Add an observation, enter data, save

**Expected behavior**
New observation appears in features sheet

**Actual behavior**
Feature sheet is empty

[2020-03-23 18:14] gino-m commented on #110
Not yet! Interested?

[2020-03-23 18:18] shobhitagarwal1612 commented on #110
Yes. This looks interesting.

[2020-03-23 18:22] gino-m commented on #110
All yours! Let's discuss design before starting, please ping or set up a VC!

[2020-03-23 18:26] shobhitagarwal1612 commented on #110
Will do!

[2020-03-24 06:22] shobhitagarwal1612 opened #412 "[Code health] Catch only transient errors for retry in PhotoSyncWorker"
From https://github.com/google/ground-android/pull/404#discussion_r396719499

@scolsen, "it might make sense to fail against certain exceptions—not sure precisely what exceptions that function can throw, but I imagine there may be some cases that are unrecoverable, in which case it doesn't make sense to continue retry work."

[2020-03-26 15:06] shobhitagarwal1612 opened #415 "[Photos] When editing observation, photo doesn't load from local storage"
**Describe the bug**
Photo field should be updated in EditObservationFragment after adding a photo, even if we are offline

**To Reproduce**
Steps to reproduce the behavior:
1. Turn off wifi/data
2. Create a new observation with photo field (e.g. FROGS)
3. Add a photo

**Expected behavior**
Thumbnail should be updated using the local stored photo

**Actual behavior**
Thumbnail doesn't update

[2020-03-26 15:26] gino-m commented on #415
@shobhitagarwal1612 Thanks for tracking this! be sure to update or remove "Describe the bug" in the template when filing and to assign priority. Updated!

[2020-03-26 15:39] shobhitagarwal1612 commented on #415
Thanks! Fixed

[2020-03-26 15:39] scolsen opened #416 "Offline Areas Selector Layout Regression"
After some recent changes, it looks like the Offline Areas Selector UI broke:

<img width="410" alt="Screen Shot 2020-03-26 at 11 34 20 AM" src="https://user-images.githubusercontent.com/11237600/77665505-23fee780-6f56-11ea-8e71-c392e4280feb.png">

I suspect it's due to the twoline toolbar changes. Adding here so I don't forget to fix this!

[2020-03-26 16:18] shobhitagarwal1612 commented on #416
Yes, I checked just now and it seems like my changes caused this regression. Sorry about that!

Removing the below line from the xml fixes the issue.
https://github.com/google/ground-android/blob/9efcc6993dc2b6d4ea8aed22b28f06c22e096805/gnd/src/main/res/layout/offline_area_selector_frag.xml#L32

[2020-03-26 16:29] scolsen commented on #416
No problem, thanks for the fix!

[2020-03-26 20:14] dturner opened #418 "[Code health] ButterKnife is deprecated, migrate to View Binding"
[ButterKnife is deprecated ](https://twitter.com/JakeWharton/status/1242537704887406593). Refactor existing code to use [View Binding](https://developer.android.com/topic/libraries/view-binding). Also remove the ButterKnife dependency from gradle.

[2020-03-27 22:16] gino-m commented on #382
Closing this issue since it's roughly a dupe of #383.

[2020-03-27 22:16] #382 closed

[2020-03-27 22:17] gino-m commented on #374
Hi @shobhitagarwal1612! Are we abandoning this one in favor of running checks manually, if I recall? If so we can close it.

[2020-03-27 23:15] gino-m commented on #145
Changing the flow from "sign in / sign out" to "add/remove user" would reduce change user signs out while offline and ends up not being able to use the app.

[2020-03-27 23:18] gino-m commented on #127
@dturner do you have any guidance on this object modeling question? Mainly, the question is whether we want to continue to attach the Project metadata to entities when they're deserialized, or whether we want to pass it around at runtime. The latter might complicate our various Rx streams and view models, while the former would (slightly) simplify deserialization.

[2020-03-27 23:18] #125 closed

[2020-03-27 23:19] gino-m commented on #122
Thanks!

[2020-03-27 23:19] #122 closed

[2020-03-27 23:20] gino-m commented on #114
@coreyleamon for input on what that flow might look like.

[2020-03-27 23:25] gino-m commented on #16
Hi @shobhitagarwal1612 ok to assign to you for now, as you already started this feature? Let's discuss details before starting work on it.

[2020-03-28 05:58] shobhitagarwal1612 commented on #374
Can we reduce the priority to `p3` and mark it has `help needed`? Let's keep it open so we don't forget about it and re-visit it again sometime in future. Wdyt?

[2020-03-28 21:47] shobhitagarwal1612 commented on #167
I don't see any issue with the current behaviour. Can you please elaborate?

[2020-03-29 20:27] gino-m commented on #374
Updated - also updated the description to be more broad, since we're not sure what the best solution is yet.

[2020-03-29 20:36] gino-m commented on #167
This may have been an old regression, let's close it as Cannot Repro for now.

[2020-03-29 20:36] #167 closed

[2020-03-31 16:55] scolsen opened #422 "Switch Map Type Button Bleeds into Top Android Control Bar"
**Describe the bug**
In the current UI, on a Pixel 2 the switch map button bleeds into the Android controls:

<img width="412" alt="Screen Shot 2020-03-31 at 12 47 22 PM" src="https://user-images.githubusercontent.com/11237600/78053371-81c47280-734e-11ea-8fa2-dac6008d27c9.png">

## Virtual Device Details

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Go to the home s

[2020-03-31 19:27] shobhitagarwal1612 opened #423 "[Github template] Add template for PR"
Common fields in PR (based on observation)
 - Closes #....
 - Screenshot/GIF (optional)
 - Steps to verify behavior
 - ....so on

[2020-04-02 16:03] gino-m opened #424 "[Settings] Add Settings page"
Accessible from left hand side nav menu.

[2020-04-02 16:22] gino-m commented on #422
@shobhitagarwal1612 the button padding or position may need to be adjusted based on when WindowInsets become available. You can find other examples of this by searching in the code for "WindowInsets". Could you PTAL?

[2020-04-02 16:59] dturner commented on #366
Been looking at this today. Here's what's happening:

- The height of the bottom sheet is defined as `match_parent` in `home_screen_frag.xml`:

            <FrameLayout
          android:id="@+id/bottom_sheet_scroll_view"
          android:layout_width="match_parent"
          android:layout_height="match_parent"

- The sheet contains both the header (defined in `feature_sheet_header.xml`) and the

[2020-04-07 10:48] dturner opened #426 "Map layer selection button is obscured under notification bar"
The map layer selection button is obscured under the notification bar.

Steps to repro:
1. Run the app, wait for the map to load

Expected behaviour:
Map layer selection button is clearly visible and not obscured by other UI elements

Actual behaviour:
Map layer selection button is obscured by the notification bar

![image](https://user-images.githubusercontent.com/873212/78660777-9613ec80-78c5-11

[2020-04-08 13:49] #366 closed

[2020-04-08 16:24] gino-m commented on #426
@shobhitagarwal1612 could you PTAL? It may need to have padding adding when WindowInsets emits a new value.

[2020-04-08 18:55] #416 closed

[2020-04-08 19:11] scolsen commented on #426
See also #422 -- just so we remember to close both once we have a fix.

[2020-04-08 19:22] shobhitagarwal1612 commented on #422
I missed this while building the feature because the emulator (android 10.0) I was using had resolution 480x800 and the button was well within the boundary. Thanks for pointing out the issue.

[2020-04-08 19:25] #110 closed

[2020-04-09 14:21] shobhitagarwal1612 opened #430 "[Background sync] Use foreground service / workers for sync"
Originated from #421 @gino-m. says,

[2020-04-09 19:31] shobhitagarwal1612 commented on #423
@gino-m gentle ping....

[2020-04-09 19:32] shobhitagarwal1612 commented on #424
Is the purpose of this bug just to add a placeholder opening a settings page from navigation drawer? Or even more

[2020-04-09 20:13] gino-m commented on #424
My apologies, I believe I forgot to add more context here. A settings screen is required for #408.

[2020-04-09 21:32] #422 closed

[2020-04-09 21:32] #426 closed

[2020-04-09 21:54] #423 closed

[2020-04-10 07:05] shobhitagarwal1612 commented on #308
Is it possible to show required space before the download starts? I ran out of space on my emulator while testing out this feature a couple of times. Then once we have a settings page, we can also show the total space occupied by the offline areas. Thoughts?

[2020-04-10 14:38] gino-m opened #433 "[Offline areas] Add bottom sheet to area selector with used/free/avail/required estimates"
Potential layout:
![image](https://user-images.githubusercontent.com/228050/78998842-74aa3f00-7b17-11ea-86ca-fb6c0266da06.png)

@shobhitagarwal1612 FYI.

[2020-04-10 14:39] gino-m commented on #308
@shobhitagarwal1612 this is planned, but just realized there wasn't a bug for it. Filed https://github.com/google/ground-android/issues/433 to track.

[2020-04-10 20:18] gino-m commented on #185
Verified at HEAD, both when online and offline.

[2020-04-10 20:19] gino-m opened #434 "[Offline support] Show connection status on UI"
@coreyleamon any suggestions on how to show this? Should it be always visible, or should a notification appear when the connection is lost / restored?

[2020-04-11 02:05] gino-m commented on #411
Duplicate of reopened #185.

[2020-04-11 02:05] #411 closed

[2020-04-11 14:59] shobhitagarwal1612 opened #438 "Reopening app disables add feature button"
**Describe the bug**
Minimizing the app and reopening disables the add feature button (+) on the home screen

**To Reproduce**
Steps to reproduce the behavior:
1. Open app. Notice that the '+' icon on the bottom right is orange and clickable
2. Minimize the app and reopen
3. '+' icon is turned gray and is not clickable anymore

Killing the app and then reopening fixes the problem

**Screenshots**

[2020-04-12 15:13] gino-m opened #439 "[Add/Edit Observation] Append "(optional)" next to labels of optional form fields"
@coreyleamon, and suggestions on how to do best do this?

Example of current implementation; first field is required, second is option, but there's no way to tell this looking at the UI. Validation errors appear on save.

![Screenshot_1586704248](https://user-images.githubusercontent.com/228050/79072314-68a4b580-7cae-11ea-9417-9c6e2f1ff79a.png)

[2020-04-12 15:17] gino-m opened #440 "App crashes when device is rotated"
To reproduce, rotate the device with "auto rotate" enabled in Android settings. Confirmed on map screen and expanded observation list.

In theory, we could disable rotation for the app, but the app still needs to be able to survive configuration changes in general.

@dturner Does this look like one you might be able to help with?

[2020-04-12 15:18] gino-m opened #441 "[Observation list] Scroll position not restored on config change"
1. Create a long list of observations
2. Scroll down the list to an arbitrary position
3. Rotate the device.

The scroll position should be restored, but currently it isn't.

[2020-04-13 17:16] gino-m opened #442 "[Offline areas] Rename to Offline satellite imagery?"
@scolsen, looking at the app I had some second thoughts about the term "Offline areas", so putting this out there for discussion.

I originally suggested this name because I thought we would also use the offline areas to selectively cache features and other data, but in hindsight, I probably really should have been more aggressively applying YAGNI.

The main reason we may want to reconsider this i

[2020-04-13 18:12] shobhitagarwal1612 commented on #442
`Offline satellite imagery` seems too big for the side drawer. How about `saved maps`?

[2020-04-13 19:13] shobhitagarwal1612 commented on #377
Can be closed since we no longer run this check automatically

[2020-04-13 19:13] #377 closed

[2020-04-13 19:15] shobhitagarwal1612 commented on #146
How about using snackbars (also for other network connectivity changes)?
https://material-ui.com/components/snackbars/

[2020-04-13 19:18] gino-m commented on #146
Snackbars are meant to appear and disappear; this issue was more geared towards a warning about the observation list that the data might be out of data since it was coming from local cache. Compare with #434. @coreyleamon in case you have anything to add here.

[2020-04-13 20:09] gino-m commented on #442
Does it? Can we give it a try?

Maps might also be misleading, since they may think they'll get roads and other markers..

[2020-04-13 21:22] gino-m opened #443 "[Project selection] App crashes with "Animal sightings" test db"
Some dbs will cause the app to crash since null styles are not tolerated.

[2020-04-13 21:34] gino-m commented on #438
Hi @shobhitagarwal1612, I couldn't repro - are you able to repro with latest from `master`? What project are you using?

[2020-04-14 03:33] gino-m opened #445 "[Feature sheet] Basemap sometimes blank"
To repo, add a feature in the Brazilian Amazon or any place where high res imagery is not available.

The feature sheet zooms the map to a level where no imagery is shown by Maps SDK:
![Screenshot_1586835037](https://user-images.githubusercontent.com/228050/79183303-1ca55e00-7ddf-11ea-9f26-03723de71feb.png)

[2020-04-14 04:30] shobhitagarwal1612 commented on #438
Yes, I can consistently reproduce this bug. After a small digging, I found out that the cause of the bug and a few others (like features not loading as well, see above screenshot) is active project not getting returned back by ProjectRepository

[2020-04-14 14:45] gino-m commented on #438
Is it because `getActiveProject()` doesn't emit the current project to late subscribers (hot instead of cold observable)? I haven't looks at the impl yet, but maybe we need to use a `BehaviorProcessor` to back the current project, and rename `getActiveProjectOnceAndStream()`?

[2020-04-14 16:24] #443 closed

[2020-04-14 16:46] shobhitagarwal1612 commented on #438
The problem was flowable wasn't re-emitting the last value to subscribers. To fix that, I replaced it with BehvaiorSubject. PTAL

[2020-04-16 01:30] gino-m commented on #440
The BottomSheetBehavior is not being reinitialized in `HomeScreenFragment#onViewCreated` on configuration changes. Reinitializing it exposes the issue that its previous state is not restored.

Since we are using an old copy of `BottomSheetBehavior`, we do not have the new `setSaveFlags()` method that would handle this for us.

@dturner It seems the `BottomSheetBehavior` workaround is causing a bit

[2020-04-17 17:07] scolsen commented on #442
We can try `Offline satellite imagery` and see how it looks. It also feels a little long to me, but `Offline maps` might be ambiguous/misleading as Gino mentioned.

[2020-04-17 17:18] shobhitagarwal1612 commented on #442
SGTM

[2020-04-17 17:34] scolsen commented on #430
There are some android docs on choosing the right approach that might be helpful: https://developer.android.com/guide/background#choosing_the_right_solution_for_your_work

From what I can tell, it seems as though the primary consideration is user awareness and timing control, if we want to have precise control over what happens when, foreground services are the way to go:

Whereas workers are reco

[2020-04-18 05:58] coreyleamon commented on #434
Part of Ground's story as a useful tool is that the user does not need to worry about the connection as they are actively collecting/working. The data should save locally, correct? In that case, it is less of a warning than it is a friendly reminder.

1) The device could be offline because it has been turned off manually. If this is the case, we could prompt: "Would you like to turn on WiFi or GPS

[2020-04-18 06:00] coreyleamon commented on #439
Common practice is to use labels to indicate the exception. Since this is a 50/50 scenario, and not knowing how our input forms will scale in the future, my recommendation is to label it "Notes (optional)".

[2020-04-18 06:03] coreyleamon commented on #146
Is this related to the other issue regarding a prompt for the device being offline?
Yes as @gino-m mentioned, snackbars are useful for a quick warning or validation (they can either disappear or sustain until a user closes it), but if we need to help the user make a decision as a result, a native dialog may serve better.

[2020-04-18 06:09] coreyleamon commented on #442
What is meant by satellite imagery? It sounds like this is simply the satellite view but without any markers of any kind (like you would find on Google Maps satellite view)? Do they normally see markers if they are online?

I agree that "offline satellite imagery" is quite long (it will likely be even longer in other languages when considering L18n later).

[2020-04-20 00:45] gino-m commented on #438
As per discussion on #446, the solution was to set `.onBackpressureLatest()` on the project stream:

[code]

Please let me know if you'd like to me to take this one and I can break this up and add comments, or if you're already working on it.

[2020-04-20 07:16] shobhitagarwal1612 commented on #438
Yes, I closed my PR as you had already tested the fix in your local branch. I forgot to unassign myself. Please proceed. Thanks!

[2020-04-21 17:28] scolsen commented on #430
Sounds good to me!

[2020-04-21 17:46] gino-m commented on #434
Yes, correct on all counts.

Right, I think we can safely assume if they've turned off WiFi they did it on purpose. Probably not within immediate scope.

I think this may be obviated by our discussion by long-running notifications (discussion in #430); the notification can say something like "Waiting for WiFi to upload photos" and similar to convey the same meaning.

[2020-04-21 17:48] gino-m commented on #439
Sgtm. Updated description to reflect this suggestion. Thanks!

[2020-04-21 17:51] gino-m commented on #146
In general I would say we need to remind the user data may be out of date, since the same could apply for all data shown in the app.

The feature sheet / observation list _could_ be an exception, since we don't pre-load observations, and when the user taps a feature while offline, all feature sheets that haven't been previously opened while online will show a message "No observations for this feat

[2020-04-21 17:53] gino-m opened #450 "[Survey list] Allow users to manage synced surveys"
Moved from misplaced issue https://github.com/google/ground-platform/issues/243. See that issue for full thread.

Currently, "+ Join Project" appears above the list of locally cached ("joined") projects, and there is not "leave project option". It's not clear how frequently users will be switching projects, if at all - is this the best way to represent these concepts? How can we make this better?

[2020-04-21 17:53] gino-m commented on #450
@shobhitagarwal1612 @coreyleamon Carrying over the conversation from the Platform repo:

For now it's just the former. In the future we would also like to sync project config (forms, layers) and map features for all of these projects either when the app is open or in the background.

"Active" here means the currently selected project (the one you're viewing). Open to suggestions on better/clearer

[2020-04-21 17:57] gino-m commented on #442
We're providing satellite data from free sources for offline use. This is in addition to the satellite basemap provided by Maps for online-only use. Trying to find the right name for the nav menu entry point to selecting areas for which to download this imagery for offline use.

[2020-04-21 18:14] #438 closed

[2020-04-21 19:05] shobhitagarwal1612 opened #451 "Project list is not loaded when on a slow internet connection"
An empty dialog is shown when using the app with slow internet connection.

**To Reproduce**
Steps to reproduce the behavior:
1. Set connection speed as GSM/GPRS in android emulator.
2. Open app
3. Project loading dialog appears
4. After 10 seconds a blank dialog appears

**Expected behavior**
Project should be loaded or correct message should be displayed while fetching the data (maybe Internet s

[2020-04-21 21:24] gino-m commented on #451
Also, we should only be loading project summaries rather than the entire project config for all projects. But that might not be necessary either depending on how we answer #270.

[2020-04-22 05:57] shobhitagarwal1612 commented on #451
#270 is related to cloud build. Are you referring to some other issue?

[2020-04-22 14:43] gino-m commented on #451
Sorry, I meant #434! Updating comment in place.

[2020-04-23 17:41] #415 closed

[2020-04-23 17:42] gino-m opened #454 "[Photo support] Allow adding multiple photos to a photo field"

[2020-04-23 17:44] gino-m opened #455 "Photo is not deleted from storage when a new photo is uploaded"

[2020-04-23 17:47] gino-m opened #456 "[Add/edit observation] Allow multiple choice fields to be shown inline"
The edit observation form currently shows multiple choice questions (option, checkbox) in a modal dialog, requiring two extra taps - one tap on the field to open the modal, and one on "APPLY" after value(s) are selected. Showing the checkboxes/options directly on the form would reduce friction during data entry.

It's assumed we'd would want to preserve the modal for longer lists, possibly adding

[2020-04-27 04:06] gino-m opened #458 "[Code health] Upgrade to Material 1.1.0"
Latest Material requires app to use a Material theme, which will require updating many styles defined in styles.xml.

[2020-04-27 04:17] gino-m opened #459 "[Code health] Eliminate forked BottomSheetBehavior class and simplify impl"
We made a copy of the BottomSheetBehavior class to allow us to specify set the `expandedOffset` such that the header gets obscured behind the toolbar. Material 1.1.0 allows us to set the offset, but only to a non-negative number. To avoid needing to copy and modify the implementation again, looking for a simpler solution.

I've tried a dozen or so variants, and the _least_ hacky and most succinct

[2020-04-27 12:53] cketcham commented on #459
Seems like a good solution which uses coordinator behaviors to keep things contained.

[2020-04-27 16:07] dturner commented on #459
@gino-m Thanks very much for putting the demo together. Really clear what's going on now. It looks like you fixed the touch propagation issue from header->bottomsheet in `onLayoutChild` which is great. This seems like a good solution given the absence of anything simpler.

FYI I spoke to Chris Banes to check whether there was any simpler way and he said there isn't and your `FloatingHeaderBehaviou

[2020-04-27 16:13] gino-m commented on #459
@cketcham @dturner thanks for the feedback. I'll work on integrating this into the Ground bottom sheet in a new PR soon.

[2020-04-27 21:55] gino-m opened #460 "[Build] Long build times"
A semi-friend build can take 1m30s - 2m30s. Disabling firebase-perf plugin gets this down to 3-27s. We may want to conditionally disable this on "dev" builds (but maybe not "debug") builds:
https://stackoverflow.com/questions/47380524/firebase-performance-plugin-causing-slow-build-time

[2020-04-28 09:42] shobhitagarwal1612 commented on #460
Thanks @gino-m!

[2020-04-28 16:10] #460 closed

[2020-04-29 07:50] shobhitagarwal1612 commented on #16
@gino-m Can we close this one?

[2020-04-30 21:42] gino-m commented on #16
Yep, thanks!

[2020-04-30 21:42] #16 closed

[2020-05-01 20:34] #185 closed

[2020-05-02 07:34] rajsuvariya commented on #455
Hi @gino-m can I try fixing this issue? I am new to open source but let me give it a try

[2020-05-02 16:17] rajsuvariya commented on #455
I tried setting up the project but when I log in it opens a dialog that has the title "Join project", but then nothing appears.

[2020-05-03 06:37] rajsuvariya commented on #455
@shobhitagarwal1612 can you help me setting up the project?

[2020-05-03 21:39] gino-m commented on #459
@cketcham @dturner I'm coming up against another hard problem - how to correctly handle touch events on the header, and the transfer them to the BottomSheetBehavior. I've tried creating a TouchDelegate, but that doesn't seem to have any effect when set on the View when using BottomSheetBehavior.

The problem with the example linked above is that all touch events are dispatched to the bottom sheet

[2020-05-04 16:07] shobhitagarwal1612 commented on #455
Hey @rajsuvariya. Thanks for your patience!

You need to create a project manually in firebase.
https://firebase.google.com/docs/firestore/using-console

In firebase console, create a new doc under a collection called `projects` with a structure like this
[code]

[2020-05-04 16:24] gino-m commented on #455
Note that if adding all of that via the console is a bit tedious, you can also get away with a trimmed down version:

[code]

Also not that we will be moving to the new structure defined in https://github.com/google/ground-platform/wiki/Cloud-Firestore-Representation once the Angular web console is feature complete.

[2020-05-04 20:22] #430 closed

[2020-05-07 15:26] dturner opened #465 "[Code health] Refactor AuthenticationManager to make testing easier"
Currently `MainActivity` has a dependency on `AuthenticationManager` which it uses to get the current user's signed in state (e.g. logged in) and direct the user to the relevant fragment.

`AuthenticationManager` has a dependency on Google Sign In. This presents a challenge for UI and integration testing because it's impossible to replace `AuthenticationManager` with a class which does not have th

[2020-05-17 17:16] shobhitagarwal1612 opened #470 "Not all features are loaded on activating project"
**To Reproduce**
Steps to reproduce the behavior:
1. Select project `Plastic Frog Finder`. (This one has a lot of dummy features)

**Expected behavior**
All features points (shown as map pins) should be displayed on the map

**Actual behavior**
Only a subset of points are shown. The count increases gradually whenever the app is restarted.

[2020-05-24 07:30] shobhitagarwal1612 opened #476 "[Code health] Simplify applying window inset to components"
The main activity subscribes to window inset changes and all fragments listen to that and apply padding/margin/translationY to adjust themselves accordingly.

A lot of code, dedicated for this purpose can be replaced with tuning the xmls directly by separating the components that need adjustment from rest and setting `fitsSystemWindows` to `true`

[2020-05-24 21:50] gino-m opened #478 "[Code health] Consolidate and clean up styles"
All components should ideally use Material theming; specific instances of color attributes can be removed.

[2020-05-25 12:51] shobhitagarwal1612 opened #480 "[Code health] Update checkstyle plugin"
Update the checkstyle plugin to 8.32 to catch up with the latest release. Also, update the google_checks.xml from the source.

[2020-05-26 19:41] gino-m opened #481 "Offline raster base maps [MVP]"
Converted to an Epic split into multiple issues. Use https://www.zenhub.com/extension to see breakdown and pipeline.

[2020-05-26 19:43] gino-m opened #482 "Offline mapping capabilities [MVP]"
- [x] Add points
- [x] View points
- [x] Move points
- [x] Delete points

[2020-05-26 19:43] gino-m opened #483 "[Top FR] Visualize vector data"
Read-only view of lines and polygons

[2020-05-26 19:45] gino-m opened #484 "[Top FR] Seamless and robust offline data sync"

[2020-05-26 19:48] gino-m opened #485 "[Process] All P0 and P1 bugs resolved"
- [ ] [P0 bugs](https://github.com/google/ground-android/issues?q=is%3Aopen+is%3Aissue+label%3A%22type%3A+bug%22+label%3A%22priority%3A+p0%22
)
- [ ] [P1 bugs](https://github.com/google/ground-android/issues?q=is%3Aopen+is%3Aissue+label%3A%22type%3A+bug%22+label%3A%22priority%3A+p1%22+)

[2020-05-26 19:51] #458 closed

[2020-05-26 19:51] #459 closed

[2020-05-26 19:52] gino-m opened #486 "[Add/edit observation] Colors incorrect after Material update"
From @shobhitagarwal1612:

![Screenshot_1590381265](https://user-images.githubusercontent.com/8918023/82778822-23100680-9e70-11ea-9950-3888c7477b62.png)
![Screenshot_1590381292](https://user-images.githubusercontent.com/8918023/82778827-286d5100-9e70-11ea-881a-8246aa6c01a9.png)

[2020-05-26 19:57] gino-m opened #487 "Photos support [MVP]"
- [x] Allow photo to be taken and added to observation
- [x] Show thumbnail on add/edit observation form
- [x] Photo uploaded in background
- [x] Integrated notifications
- [ ] Allow adding multiple photos (#454)
- [x] Delete unused/removed photos (#455)

@shobhitagarwal1612 please cmiiw.

[2020-05-26 20:01] gino-m opened #488 "[Process] Robust automated testing in place"
- [x] Automated testing run via CI
- [x] Automated UI testing run via CI
- [x] Acceptable unit test coverage
- [x] Acceptable UI test coverage

[2020-05-26 20:08] shobhitagarwal1612 commented on #488
+1 for coverage

[2020-05-27 21:55] #424 closed

[2020-05-28 08:41] shobhitagarwal1612 opened #490 "[UI Tweak] Fix color of status bar scrim"
From #477

The system inset areas shows as grey instead of blue in Offline areas and Settings:
![image](https://user-images.githubusercontent.com/228050/82760079-534b9c80-9dbf-11ea-865e-18019c6bd474.png)

Ideal would be as in the expanded feature sheet:
![image](https://user-images.githubusercontent.com/228050/82760118-82620e00-9dbf-11ea-8068-b815ad4d4f77.png)

[2020-05-29 17:42] shobhitagarwal1612 opened #491 "Options for multiple choice fields are saved multiple times"
Instead of updating existing options in local db, new entries are added each time the project is loaded.

1. Login into app
2. Select `Plastic Frog Finder`
3. Click `Join Project` and change to some other project
4. Change again to `Plastic Frog Finder`

Db snapshot for table option.

1 | 1 | R | Red | lIFrOWC4MrzWDpVPXWjd |  
-- | -- | -- | -- | -- | --
2 | 2 | G | Green | lIFrOWC4MrzWDpVPXWjd |

[2020-05-29 22:33] #491 closed

[2020-06-04 16:52] gino-m opened #493 "[Add observation] Required fields show errors when form is opened"
**To Reproduce**
1. Add a feature
2. Add an observation for a form with required fields

**Expected behavior**
Blank required fields show errors immediately.

**Actual behavior**
Required fields do not show errors only on blur or when form is saved.

**Screenshots**
![image](https://user-images.githubusercontent.com/228050/83787774-4736c900-a662-11ea-8982-5e5ed51a5f04.png)

[2020-06-04 17:00] shobhitagarwal1612 commented on #493
By @gino-m
"We can show a * next to required field labels for now"

[2020-06-10 15:09] gino-m opened #494 "[Offline base map] Rename "Tile" to "Tileset" where appropriate"
Tileset is more appropriate for describing the contents of mbtiles files, since they contain a pyramid of tiles over multiple extents rather a single tile:
https://docs.mapbox.com/help/glossary/tileset/

[2020-06-11 07:14] shobhitagarwal1612 opened #495 "Update Firebase Crashlytics SDK"
Fabric Crashlytics SDKs and beta versions of the Firebase Crashlytics SDKs have been replaced with the generally available Firebase Crashlytics SDKs.

To continue getting crash reports in the Firebase console, we need to make sure to upgrade our apps to the Firebase Crashlytics SDK versions 17.0.0+ for Android.

Instructions: https://firebase.google.com/docs/crashlytics/upgrade-sdk?platform=androi

[2020-06-11 14:57] #495 closed

[2020-06-11 15:27] #493 closed

[2020-06-13 14:45] gino-m opened #500 "[Offline imagery] Investigate using STAC for mbtiles index file"
https://github.com/radiantearth/stac-spec

We currently use GeoJSON for our mbtiles footprints, with the file url in the `properties.url` in each feature. STAC might be a better fit, so in the future it may be worth looking into whether it makes the mbtiles dataset useful to other applications besides Ground.

This is not urgent, but adding here to track.

@tylere thanks for the pointer. @scolsen

[2020-06-18 16:43] scolsen opened #503 "[Offline Areas] Download GeoJson sources from a Project setting"
Right now, GeoJson sources need to be uploaded to a user's device directly. Instead we should store a `basemaps` array of objects with a single `footprintsUrl` field that specifies a source file to use for tilesets for a particular basemap.

[2020-06-24 18:07] gino-m opened #504 "[Survey selection] Rationalize and simplify "join survey" flow"
Currently, we show a simple list of surveys shared with the user.

Is a browse experience the way we think users should discover and join surveys?

Future entry points could include via a shared link, by entering a project ID and pin code, or by scanning a QR code. More work is needed here. @ngosue re our earlier discussion today.

[2020-06-30 03:30] sergeydolgov1 commented on #360
@gino-m Should we merge this issue with #114?
[](https://github.com/google/ground-android/issues/114)

[2020-06-30 03:40] gino-m commented on #114
Duplicate of #360.

[2020-06-30 03:40] #114 closed

[2020-06-30 12:38] shobhitagarwal1612 commented on #255
Unable to reproduce the error.

[2020-06-30 12:38] #255 closed

[2020-06-30 13:29] shobhitagarwal1612 commented on #5
@gino-m I haven't faced any issue with the "save" button. Can you please confirm if this issue is still active?

[2020-06-30 13:41] shobhitagarwal1612 commented on #439
@gino-m Can we close this issue? Now we show asterisk next to required field labels.

![Screenshot_1593524390](https://user-images.githubusercontent.com/8918023/86133057-69a6ef80-bb05-11ea-88bf-2c1d69ce737d.png)

[2020-06-30 13:50] #439 closed

[2020-06-30 13:57] gino-m commented on #5
I haven't seen it either. Let's close this for now and do a properly bug bash as a team once MVP is ready.

[2020-06-30 13:57] #5 closed

[2020-06-30 14:18] shobhitagarwal1612 commented on #30
Can we close this in favor of current crash/error reporting?

[2020-06-30 14:20] shobhitagarwal1612 commented on #168
What exactly are we attempting to download, offline areas? Maybe we can close this issue and create one targeting the particular screen or user flow

[2020-06-30 14:23] shobhitagarwal1612 commented on #119
@scolsen I think this issue is already taken care of. Can you please confirm?

[2020-06-30 14:24] gino-m commented on #168
Do you think "Offline tiles" isn't clear? Any suggestion for a more intuitive prefix?

[2020-06-30 14:27] gino-m commented on #30
This was actually referring to user feedback. Updated description to reflect this.

[2020-06-30 14:30] shobhitagarwal1612 commented on #168
My bad. I somehow managed to completely ignore the prefix completely as if it didn't exist in the first place 😅

Please ignore

[2020-06-30 14:39] gino-m commented on #168
Haha.. I thought it was because of our changing naming scheme. No worries at all!

[2020-06-30 17:55] #351 closed

[2020-06-30 21:18] #440 closed

[2020-06-30 22:16] gino-m opened #512 "[Offline support] Deleted layers not removed from local db"
insertOrUpdateLayers() in RoomLocalDataStore doesn't delete layers that have been removed from Project.

[2020-07-01 19:10] gino-m opened #516 "[Offline base maps] Allow offline base maps to be configured by Manager"
- [ ] Add base map sources to remote data store.
- [ ] Cache base map sources in local data store.
- [ ] Read URL from base map sources (initial only use first one for now if present) and fetch GeoJSON extents file from remote when loading offline area selector UI.

[2020-07-01 19:10] gino-m commented on #170
Closing in favor of #516.

[2020-07-01 19:10] #170 closed

[2020-07-01 19:16] gino-m opened #517 "[Local data store] Simplify local persistence layer"
Ideas:

* We currently split the project config into many different tables, even though the entire hierarchy is always read and written as a single unit. We could reduce complexity by storing the project as a blob.
* The same may apply to other entities.
* Using protos (possible with an autocopy lib to copy between abstraction layers) could be a solution to decrease complexity.

[2020-07-01 20:24] gino-m opened #519 "[Splash screen] Improved splash screen"
The splash screen added in #252 looks a bit spooky. @jacobmclaws, could you come up with something a bit friendlier based on the graphics in your web mocks?

[2020-07-01 20:52] gino-m commented on #512
@shobhitagarwal1612 could you PTAL?

[2020-07-01 21:02] gino-m commented on #113
I believe this is done! @scolsen please reopen if not.

[2020-07-01 21:02] #113 closed

[2020-07-01 21:03] gino-m commented on #112
Moved this to RC1, since for MVP we can use exports of specific areas.

[2020-07-01 21:04] gino-m commented on #123
@sergeydolgov1 Do you think this is required for MVP?

[2020-07-01 21:06] gino-m commented on #485
Let's use the Milestone tag instead.

[2020-07-01 21:06] #485 closed

[2020-07-01 21:06] #484 closed

[2020-07-01 21:08] gino-m commented on #483
@sergeydolgov1 to clarify if this is needed for MVP.

[2020-07-01 21:09] gino-m opened #520 "Manage lines and polygons [RC]"
- [ ] Draw
- [ ] Edit
- [ ] Delete

[2020-07-01 21:09] gino-m commented on #520
@sergeydolgov1 for prioritization

[2020-07-01 21:11] sergeydolgov1 commented on #123
I think that onboarding flows can be reprioritized for MVP.
As an alternative, we can potentially create a help page with Screenshots/ walkthrough and/ore provide a link to pre-recorded walkthrough on Youtube

[2020-07-01 21:15] gino-m commented on #503
Merged into #481 as part of issue consolidation and cleanup.

[2020-07-01 21:15] #503 closed

[2020-07-01 21:15] gino-m commented on #516
Merged into #481 as part of issue consolidation and cleanup.

[2020-07-01 21:15] #516 closed

[2020-07-01 21:17] gino-m commented on #442
I think "offline base map" is the most correct term here, since in the future we may support more than just satellite imagery. Is this term also ok to use in the UI? @sergeydolgov1 for comment.

[2020-07-01 21:18] gino-m commented on #433
Consolidated into #481.

[2020-07-01 21:18] #433 closed

[2020-07-01 21:20] gino-m commented on #409
Hi @shobhitagarwal1612 , iirc we addressed using a single worker that will process the queue to completion. Closing now, but please cmiiw.

[2020-07-01 21:20] #409 closed

[2020-07-01 21:22] gino-m commented on #380
Fixed in #471.

[2020-07-01 21:22] #380 closed

[2020-07-01 21:23] gino-m commented on #310
@shobhitagarwal1612 I think this is done? Please reopen if not.

[2020-07-01 21:23] #310 closed

[2020-07-01 21:24] gino-m commented on #168
Hi @scolsen ! Is this still TBD?

[2020-07-01 21:24] gino-m commented on #119
@scolsen closing as done. Please reopen if not!

[2020-07-01 21:24] #119 closed

[2020-07-01 21:26] #20 closed

[2020-07-01 21:26] gino-m commented on #10
Done, and merged into #481.

[2020-07-01 21:26] #10 closed

[2020-07-01 21:27] gino-m commented on #8
This is more of a strategy than an actual FR; marking closed.

[2020-07-01 21:27] #8 closed

[2020-07-01 21:28] gino-m commented on #14
This will be covered by #142 using the structure defined in https://github.com/google/ground-platform/wiki/Cloud-Firestore-Representation.

[2020-07-01 21:28] #14 closed

[2020-07-01 22:16] sergeydolgov1 commented on #303
[](https://github.com/google/ground-android/issues/434)

[2020-07-01 22:18] #303 closed

[2020-07-01 22:27] gino-m commented on #434
Combining Corey's previous comments with my own (especially #303), it seems in general we wouldn't want to show the connection status globally in the app, but in certain situations we may want to warn the user that what they're seeing is probably out of date. Some examples come to mind:

* List of available projects - when there are no projects we'd probably want to explain why, and this explanati

[2020-07-01 22:39] sergeydolgov1 commented on #111
For reference: This is the latest mock for the Project selector on the Web Platform:
![image](https://user-images.githubusercontent.com/20148684/86297777-0ffbff00-bbb1-11ea-8665-edcf040ba1d5.png)

[2020-07-01 23:58] sergeydolgov1 commented on #352
This is how observation row/card looks today:
![image](https://user-images.githubusercontent.com/20148684/86301921-06c45f80-bbbc-11ea-9022-1b1bb167f1c0.png)

[2020-07-02 00:10] sergeydolgov1 commented on #378
This is how toolbar header looks today:
![image](https://user-images.githubusercontent.com/20148684/86301921-06c45f80-bbbc-11ea-9022-1b1bb167f1c0.png)

[2020-07-02 00:15] sergeydolgov1 commented on #408
Current Implementation:
![image](https://user-images.githubusercontent.com/20148684/86302729-6d4a7d00-bbbe-11ea-91ab-cad41c61624f.png)

[2020-07-02 00:15] sergeydolgov1 commented on #408
@shobhitagarwal1612 -- Do we need UX help on this?

[2020-07-02 00:19] sergeydolgov1 commented on #456
Current implementation:
![image](https://user-images.githubusercontent.com/20148684/86302911-0ed1ce80-bbbf-11ea-8421-f438c86fa651.png)

[2020-07-02 00:41] sergeydolgov1 commented on #434
@gino-m I think we should try to avoid complicated logic where we would need to produce many different messages that explain what users see/don't see based on the combination of their connectivity state and available projects/observations.

Have we considered persistent app notification that show current status of the app, e.g. "Online" / "Offline (last synced at XX)" "Online" (pls connect to WiFi

[2020-07-02 04:30] shobhitagarwal1612 commented on #409
Yes, it is fixed now.

[2020-07-02 04:41] shobhitagarwal1612 commented on #408
@gino-m has a question for you regarding the same in the PR. https://github.com/google/ground-android/pull/506#discussion_r447037477. Could you please take a look?

[2020-07-02 16:22] gino-m commented on #408
I can't find that question now, but I think it was related to the language show in the UI - "WiFi" vs "Unmetered". Although the UI says "Only upload photos over WiFi", it really means "over an unmetered connection". This usually means Wifi but not always.

My opinion here is that "unmetered" may be too abstract for beginner users, but I'm may be wrong. I see apps like Photos use "Wifi", I believe

[2020-07-02 16:22] gino-m commented on #408
@sergeydolgov1

[2020-07-02 16:23] gino-m commented on #378
That's actually the feature details sheet; this issue referred to what's shown when you're viewing or editing an individual observation.

[2020-07-02 16:33] gino-m commented on #434
@sergeydolgov1 I agree it would be ideal if we can avoid needing special language for these different scenarios. We considered showing a persistent message when the user is offline, but originally I steered us away from that. My assumption was that the user would be offline most of the time, and that message would become more noise than helpful. Happy to revisit this though.

What message / UI can

[2020-07-02 17:03] #408 closed

[2020-07-02 18:10] #418 closed

[2020-07-03 06:54] sergeydolgov1 commented on #378
@gino-m thanks for correcting me. Updated screenshot:
![image](https://user-images.githubusercontent.com/20148684/86440440-4cb61c00-bcbf-11ea-8250-4754aee09e9e.png)

[2020-07-03 11:40] #480 closed

[2020-07-06 06:35] shobhitagarwal1612 opened #523 "[Code health] Move creation of observation mutation to ObservationRepository"
`EditObsevationViewModel` has a lot of logic and it would be better if we move the logic for creating observation mutations in the `ObservationRepository` where the same is done for creating observations.

This would help in simplifying the logic class and increasing readability.

[2020-07-06 11:08] #523 closed

[2020-07-06 18:35] gino-m commented on #352
@sergeydolgov1 Do you think this is a worthwhile improvement? In most (or all) cases, the user would no longer need to tap through to a separate screen to view observation details.

[2020-07-07 14:00] gino-m opened #530 "[Data Repository] Use atomic transactions for local data store operations"
Room @Transaction annotation makes this easy. @shobhitagarwal1612 fyi.

[2020-07-07 14:54] gino-m opened #531 "[Code health] Document best practice around direct field access in Android Java"
@shobhitagarwal1612 @dturner

[2020-07-07 14:55] gino-m opened #532 "Migrate to Kotlin"

[2020-07-07 14:56] gino-m opened #533 "[Code health] Investigate coroutines and Flow as replacement for RxJava"

[2020-07-10 22:51] gino-m commented on #442
@sergeydolgov1 gentle ping.

[2020-07-10 23:33] sergeydolgov1 commented on #109
Suggested flow for repositioning Points:
1) User clicks on a point
2) Feature (Point) Toolbar appears (empty or with some observations)
3) User clicks on the ellipsis (three dots) in the top right corner and selects "Reposition point"
4) Toolbar disappears/ Crosshair appears on the map (same flow as when user places new point)
5) User selects new location on the maps
6) When clicking on "+" (can b

[2020-07-10 23:38] sergeydolgov1 commented on #442
Suggest that the term should include both "Offline" and "Map" words because that what most users would likely understand.
If we think "Offline Maps" will be a bit misleading at this stage, suggest to call it **"Offline Base Map"**

[2020-07-10 23:41] sergeydolgov1 commented on #108
Suggest that "Delete Point (feature)" action is hidden in Feature's ellipsis (three dots) menu

[2020-07-12 01:51] gino-m opened #534 "Show polyline and polygon features"
Add GeoJson data to new `geoJson` field in Feature object (remotely and locally). For pilot they will be read-only.

Layer style should be used to style (color) the lines and polygons defined in the GeoJson.

[2020-07-12 02:00] gino-m commented on #519
@jacobmclaws Gentle ping! 📸

[2020-07-13 16:22] #107 closed

[2020-07-13 16:40] sergeydolgov1 commented on #352
I think this can have lower priority unless we can make small improvements quickly.

Some suggestions:
- Since it is a Preview card, it needs to contain only a few items and provide just enough information
- Preview card need to show only responses to Required/mandatory questions (as specified by Project manager)
- We can try to remove Column headers and keep only answers to Required questions in

[2020-07-13 16:50] sergeydolgov1 commented on #378
@gino-m
- It seems that the Toolbar header is already centered
- User is already viewing observation and we have "Edit" in the ellipsis
- Point marker is not necessary at this stage

Suggestion:
- Show Creator name and timestamp at the bottom of the sheet

[2020-07-13 16:54] gino-m commented on #352
Sgtm. Bumping priority down to P2.

[2020-07-13 16:59] gino-m commented on #378
Thanks for the comments!

Good catch!

"Edit" is an action to allow the user to switch from "View" to "Edit" screens; the point of this Issue was that it might not really be clear what the user is looking when they're in View mode - i.e. that they're viewing a single observation associated with a feature in a particular layer. I was fishing for better ways of providing clear context.

Sgtm.

[2020-07-13 17:00] sergeydolgov1 commented on #456
@gino-m

Suggestions:
- Keep current layout because: 1) If we show the form inline, the list of questions can be potentially too long; 2) Tap to Modal dialog can be actually good for keeping users focused on the task
- Tweak "Add Button" styling so that it meets Accessibility standards (i.e. Contrast)

[2020-07-13 17:07] sergeydolgov1 commented on #378
Ok, I see. "Breadcrumb" can be a potential way to show users where they are. Perhaps we can add this question to the list of things we are going to test/validate, no actual Eng work at this stage?

[2020-07-13 17:14] sergeydolgov1 commented on #434
Perhaps something like:
- Online state: "There are no observations for this Point"
- Offline state: "There are no observations available for this Point. Please connect to the Internet to get the latest updates"

[2020-07-13 17:18] #512 closed

[2020-07-13 17:25] sergeydolgov1 commented on #434
@gino-m Regarding Global notification for Online/Offline state (based on a recent discussion with Corey):
- It doesn’t matter if user is Offline or Online. What important is to communicate to users the status of Data Sync (whether it is Synced or Not) and the last time it was synced

Potential solution (need to assess feasibility and cost to implement) can be to show persistent notification ([Noti

[2020-07-13 18:19] gino-m opened #535 "[UXR] Research open questions during pilot"
- [ ] Is context of view/add/edit observation clear (i.e. which layer and which point is selected), or do we need breadcrumbs, or some other affordance in the header, etc.?
- [ ] Feature Sheet: 1) Do we need to [un]lock the map when sheet is expanded/collapsed? 2) On zoom or pan, collapse the feature sheet. 3) When a different map feature is tapped, render the feature sheet with the details for th

[2020-07-13 18:19] gino-m commented on #378
Sgtm! Created #535 to track. Please add other open qs there as well!

[2020-07-13 18:23] gino-m commented on #434
+1. newer Androids require a persistent notification be shown to do long running work, so we'll need it anyway if we want to also download points, form updates, etc. in the background (think Spotify, Pandora, Citizen). Can we get a mock of what this persistent notification would look like?

[2020-07-13 18:25] gino-m commented on #456
Showing inline would in addition to being able to show as modal - it would optionally be specified in the form designer.

+1. This will be fixed with #486.

[2020-07-13 19:05] gino-m commented on #442
I think it's necessary to qualify it's "base" map, since you can't cache all aspects of the map using this tool; features, roads, etc. aren't selectable through this feature. +1 On including both "Offline" and "Map".

[2020-07-13 22:14] gino-m commented on #476
Hi @shobhitagarwal1612 can we close this now?

[2020-07-13 22:17] gino-m commented on #465
Hi @dturner is this issue still valid?

[2020-07-13 22:19] gino-m commented on #354
@sergeydolgov1 Is it ok to show an empty feature sheet with the "+ Add observation" button disabled for layers with no form? (i.e. reference layers)? Or should this case get a special UI treatment? If so, is this something for MVP or release?

[2020-07-13 22:25] #193 closed

[2020-07-13 22:27] gino-m commented on #127
Keeping metadata together with data in the object model seems to be most convenient. We will need to continue to pack/unpack and associate these during local and remote (de)serialization, but so far this seems to outweigh the cost of passing around both Project and Feature/Observation everywhere.

[2020-07-13 22:27] #127 closed

[2020-07-13 22:29] gino-m commented on #9
Rather than keeping this hanging open, @scolsen, @shobhitagarwal1612, @dturner let's file specific issues as we find them.

[2020-07-13 22:29] #9 closed

[2020-07-13 23:08] gino-m opened #536 "[Offline base maps] Show place name in offline area list"
Place names can be fetched with https://developer.android.com/reference/android/location/Geocoder when downloading the areas.

This is low priority but adding here to tract - for now we'll show "Area 1, Area 2.." in the offline base map areas list.

@sergeydolgov1 Fyi, please cmiiw.

[2020-07-13 23:11] gino-m opened #537 "[Offline base maps] Show toast when user clicks "Download""
e.g. "Download started in background". Currently it seems like nothing happens.

[2020-07-13 23:16] gino-m opened #538 "[Offline base maps] Show human readable labels on offline area list"
The current list shows ids:

![image.png](https://images.zenhubusercontent.com/5f062d0f25250e63f9559a02/9db42e0c-70a4-42fd-b31f-b560b108b698)

Instead, we can show an auto-generated label (created when downloading the layer), "Area 1", "Area 2", etc.

Fixes #536.

[2020-07-13 23:21] gino-m opened #539 "[Offline base maps] Load tile extents file from URL in Project"
Fetch tileset extents file from Project (added in #170) when showing area selector

[2020-07-13 23:23] gino-m opened #540 "[Offline base map] Delete offline areas"
Allow users to remove downloaded areas through the offline area list.

[2020-07-13 23:26] gino-m opened #541 "[Offline base maps] Show available and est. required storage for offline areas"
Example:
![image](https://user-images.githubusercontent.com/228050/87363115-73394a00-c53e-11ea-9678-27c0dc5b5583.png)

[2020-07-14 04:34] shobhitagarwal1612 commented on #476
One or two instances are still remaining. See the linked PR for details

[2020-07-14 05:55] shobhitagarwal1612 commented on #476
`HomeScreenFragment` and `FeatureDetailsFragment` could also use similar refactoring.

[2020-07-14 17:05] #537 closed

[2020-07-15 18:25] sergeydolgov1 commented on #520
@gino-m Should we prioritize this for Release Candidate? I think we were inclined toward having only Representation layer in the pilot stage

[2020-07-15 18:34] sergeydolgov1 commented on #536
I think this can improve UX. Just wonder what names Geocoder returns for remote/rural areas where users are likely to be offline (i.e something distinct and recognizable or a generic name for those areas)

[2020-07-15 20:19] sergeydolgov1 commented on #354
@gino-m Suggest two potential flows depending on whether Adding new observations is enabled (have a form) or disabled (no form available)

- **[If Adding new observations enabled]** Empty Feature sheet has "There are currently no observation for this Point, you can add observation by tapping "Add Observation" button below" at the top

- **[If Adding new observations disabled ]** Empty Feature shee

[2020-07-16 02:41] gino-m opened #543 "[Code style] .idea/codestyles/Project.xml occasionally changes by itself, blocking pull/merge"
@shobhitagarwal1612, is allowing this file in git recommended, or is there another/better way to share the Android Studio configs?

[2020-07-16 03:04] gino-m opened #544 "[Add feature] Layer list not sorted according to order specified in web app"
The `index` field should be used to sort the list of layers shown to the user.

[2020-07-16 05:26] shobhitagarwal1612 commented on #543
There is an option of `settings repository` in Android Studio for sharing settings across the team.

https://www.jetbrains.com/help/idea/sharing-your-ide-settings.html#settings-repository

I can take a first stab at this.

[2020-07-16 15:03] gino-m opened #546 "[Code health] Rename root package name to `com.google.android.ground`"
Part of "growing up" as a project, making package name more readable and developer friendly.

[2020-07-16 16:14] gino-m commented on #543
Great, thanks for taking a look!

[2020-07-16 16:19] gino-m commented on #308
@scolsen marking this one closed since we effectively now have this functionality working. Please cmiiw!

[2020-07-16 16:19] #308 closed

[2020-07-16 16:20] gino-m commented on #362
@sergeydolgov1 Do you think is important to do for pilot?

[2020-07-16 16:21] gino-m commented on #434
Closing this issue in favor of better notifications and inline messages as discussed above.

[2020-07-16 16:21] #434 closed

[2020-07-16 16:55] sergeydolgov1 commented on #434
@gino-m Do we have an open Issue for App Notifications so that I can comment/ add mocks when we have them?

[2020-07-16 17:16] gino-m opened #547 "Features and observations are not removed locally when deleted in remote db"

[2020-07-16 17:23] gino-m commented on #451
@sergeydolgov1 @gino-m To discuss.

[2020-07-16 17:29] gino-m commented on #445
@dturner fyi.

[2020-07-16 17:31] gino-m commented on #28
@gino-m to verify.

[2020-07-16 17:46] gino-m commented on #536
Duplicate of #538.

[2020-07-16 17:46] #536 closed

[2020-07-16 18:11] sergeydolgov1 commented on #362
@gino-m I think this is a nice-to-have UX improvement. Suggest we deprioritize it for pilots and add it to RC. Will add this to the list of question to validate during pilots

[2020-07-16 18:11] #22 closed

[2020-07-16 18:13] gino-m commented on #146
Duplicate of #355.

[2020-07-16 18:13] #146 closed

[2020-07-16 18:14] gino-m commented on #204
We'll address this via unit tests on a case-by-case basis.

[2020-07-16 18:14] #204 closed

[2020-07-16 18:14] gino-m commented on #78
Latest guidance is in our Wiki; let's identify these as we go, closing for now.

[2020-07-16 18:14] #78 closed

[2020-07-16 18:16] gino-m commented on #483
Duplicate of #534.

[2020-07-16 18:16] #483 closed

[2020-07-17 03:05] gino-m opened #548 "[Feature details] Selected feature not centered in map"
![Screenshot_1594955046](https://user-images.githubusercontent.com/228050/87744165-bdc5fb00-c7b8-11ea-907c-444dfa6fe2cc.png)

Instead, it is obscured behind the half-expanded card.

![Screenshot_1594955091](https://user-images.githubusercontent.com/228050/87744175-c4ed0900-c7b8-11ea-9527-e3c2b4225897.png)

[2020-07-20 17:55] gino-m commented on #354
Flagged for inclusion in RC.

For layers where adding observations are disabled, perhaps we should hide the Add observation button all together?

Also, one alternative to showing the descriptive text in the observation list could be to show a modified UI for these layers, e.g. showing a small card at the bottom of the map as is done in Google Maps?

[2020-07-20 17:57] gino-m commented on #538
@scolsen, from @sergeydolgov1 on #536:

What does reverse geocoding return in such places?

[2020-07-20 18:00] gino-m opened #549 "[Offline sync] Consolidate and simplify notifications"
We should have notifications for these background operations:

- [ ] New LOIs added to a job by organizer
- [ ] New jobs added to a survey by organizer
- [ ] Submitted data uploaded (notify about photos separately?)

Offline basemap tiles download can happen in the background but the status should be reported in the UI rather than notification.

The notifications are currently transient, but with

[2020-07-20 18:01] gino-m commented on #434
Filed #549 for this purpose.

[2020-07-21 15:08] gino-m commented on #305
Layer deletes cascade to descendants, so this is now obsolete.

[2020-07-21 15:08] #305 closed

[2020-07-22 23:34] gino-m opened #550 "App force quits after downloading offline areas"
Repro TBD...

[2020-07-22 23:34] gino-m opened #551 "Location lock not active when in airplane mode"
Settings prompt also not shown. More details TBD

[2020-07-27 22:23] #108 closed

[2020-07-28 14:54] gino-m commented on #300
Duplicate of #547.

[2020-07-28 14:54] #300 closed

[2020-07-31 13:14] dturner opened #553 "After adding an observation the map is fully zoomed in and it's not possible to zoom out"
After adding an observation the map is fully zoomed in and it's not possible to zoom out.

**Steps to reproduce**
- Load the app and tap on the "Add feature" FAB
- Choose the feature type
- Complete the fields for the observation and tap Save

**Expected behavior**
- The feature marker to appear on the map and for it to be possible to zoom in/out using pinch

**Actual behavior**
- The feature mark

[2020-07-31 13:16] dturner commented on #553
Seeing this error in logcat

[code]

[2020-07-31 13:19] dturner commented on #553
I think I found the issue. I was using the "Example using latest Firebase" project. Switching to the "Ground App" project and I no longer experience this issue.

[2020-07-31 13:24] dturner commented on #553
The difference seems to be that the "Example using latest Firebase" project jumps into adding an observation immediately after the feature has been added, whereas the "Ground App" does not.

[2020-07-31 13:35] dturner opened #554 "Not easy to add features at the top and bottom extremes of Earth"
When adding a feature you generally zoom out of the map until the crosshair is roughly over the location you want, then zoom in until you've got an accurate position.

At the top and bottom extremes of Earth this isn't possible because you reach the limits of the map.

**To Reproduce**
1. Zoom out fully on the map
2. Attempt to move the map so the crosshair is over [Svalbard](https://www.google.co

[2020-08-03 15:25] dturner opened #555 "Not possible to sign out"
It's not possible to sign out.

**Steps to reproduce**
- Load the app, sign in using gndtestuser
- Expand the side bar
- Tap Sign out

**Expected behavior**
gndtestuser is signed out and user is taken back to the sign in page

**Actual behavior**
Nothing happens when tapping the Sign out button

[2020-08-03 15:35] dturner commented on #555
Clean and rebuild, now seems to be working 🤷

[2020-08-03 15:35] #555 closed

[2020-08-03 19:59] gino-m commented on #555
#weird.. seems changing keys is always a little flaky due to caching, etc. Glad it's working!

[2020-08-03 22:03] gino-m opened #556 "[Add/edit observation] Blue screen after returning to feature sheet from add/edit observation"
1. Add/edit an observation
2. Click "Back", or save observation

Result:
![Screenshot_1596492154](https://user-images.githubusercontent.com/228050/89231558-92624f00-d5b3-11ea-9ec6-92a03c7bfc86.png)

Expected result:
* Return to the feature sheet

[2020-08-03 22:06] gino-m opened #557 "[Add/edit observation] Multiple choice options sometimes missing"
* Add/edit observation using example Firebase scheme
* in layer001, options not shown for third question:

![Screenshot_1596492374](https://user-images.githubusercontent.com/228050/89231794-069cf280-d5b4-11ea-98e0-cdbed9700cd4.png)

[2020-08-03 22:08] gino-m opened #558 "[Add feature] Features added in mobile app not shown in web app"
1. Add a point
2. Point does not appear in web app, warnings appear in console

The `center` in Feature has been renamed `location`. The Android app needs to be updated accordingly.

[2020-08-03 22:09] gino-m commented on #554
I think we generally wouldn't be adding features zoomed out this far. @sergeydolgov1, wdyt?

[2020-08-03 22:11] gino-m commented on #553
Thanks for catching this. Fwiw, I don't think it's blue because it's zoomed out; I believe it's blue because that's the toolbar color extended to 100%.

Likely related to #558 and #556.

[2020-08-03 22:17] gino-m opened #559 "[Add/edit observation] Values selected in app don't correspond to what's show in web app"
Edited in app:
![Screenshot_1596493026](https://user-images.githubusercontent.com/228050/89232505-8d060400-d5b5-11ea-8536-cdce5d31c306.png)

In web app:
Updated demo: https://gnd-dev.web.app/p/example#f=pIPl6J1vCz4h8xzgVZL1

[2020-08-03 23:00] sergeydolgov1 commented on #554
@gino-m @dturner We don't expect users adding features when the map is zoomed out this far.

[2020-08-04 10:34] dturner commented on #554
To be clear, I'm not suggesting that users would add features when zoomed out this far as it's not accurate enough. What I mean is that it's more difficult to zoom in to your desired location at the top or bottom of the earth because you cannot manoeuvre the map so that you zoom directly in on it; you have to zoom in, drag the map back to the centre, then repeat (and that's _if_ you figure out tha

[2020-08-05 17:32] sergeydolgov1 commented on #554
@dturner @gino-m Don's latest comment makes sense. This can be a potential issue longer term, not for initial pilot

[2020-08-05 17:52] gino-m commented on #554
+1. Updated priority, release, pipeline. Please edit freely.

[2020-08-10 19:23] sergeydolgov1 commented on #358
Prioritized drawing a polyline (Lines + Polygons) for RC1. Latest mocks below:

![image](https://user-images.githubusercontent.com/20148684/89821845-18c2e780-db04-11ea-8c31-b07b0fdfb8e0.png)

![image](https://user-images.githubusercontent.com/20148684/89821861-211b2280-db04-11ea-9f66-85103f5ca9b7.png)

[2020-08-12 19:13] dturner opened #562 "First time sign in fails"
Sign in failed the first time I tried it.

**To Reproduce**
1. Install and run a new copy of the app on a device with no user accounts
2. Sign in as normal entering the test user details

**Expected behavior**
After signing in you are taken to the main activity

**Actual behavior**
The sign in dialog disappeared leaving only the sign in button behind it. Tapping the sign in button did nothing. The

[2020-08-12 19:15] #547 closed

[2020-08-12 19:15] dturner commented on #562
Test device: Pixel 4A running Android 11 Beta (RP1A.200720.011).

[2020-08-12 19:23] dturner commented on #562
Able to reproduce on Pixel 2 running Android 11 Beta 3 (RPB3.207716.003)

[2020-08-12 19:23] gino-m commented on #562
@dturner Thanks for filing. Did it only fail the first time, i.e. did subsequent attempts work?

[2020-08-12 19:24] gino-m commented on #562
@dturner Also, did you move your SHA-1 from the old to the new development Firebase instance?

[2020-08-13 20:27] gino-m opened #564 "[Code health] Consider simplifying model objects"
Rebooting the discussion in #517 with a broader scope.

Lately, I've been regretting two design choices made fairly early on - using `@AutoValue` instead of Protocol Buffers, and serializing all data locally as separate table rather than as serialized protos. As is stands right now, it's painful to add a single field to our schema because three version of the model need to be updated, as well as c

[2020-08-14 09:38] shobhitagarwal1612 commented on #564
Keeping a common core schema sounds very exciting to me. So, does that mean the clients (both web and mobile) need to do the conversion between JSON <-> protobuf? Or does firestore allow storing protobufs directly?

[2020-08-14 16:41] #455 closed

[2020-08-14 16:47] gino-m commented on #564
Firebase client APIs unfortunately don't support convert remote data to/from protos. This step would eventually be done by our Ground server-side component (TBD). In the meantime, we could continue to do this on the client using the existing code.

If we do use the same proto everywhere, we need to be very careful to never make breaking changes to the proto defs, and to build backwards compatibili

[2020-08-17 13:49] shobhitagarwal1612 commented on #470
On digging deeper, I found out that all remote features are successfully received by the app and make it to the Doc -> Feature converter. But don't get inserted into the local database. In the test project, out of 87 the total no of insert operations on multiple iterations varied.
e.g.
1st --> 3 inserted
2nd --> 10 inserted
.... and so on

I suspect that it has something to do with the Rx chain. A

[2020-08-18 14:48] #538 closed

[2020-08-18 14:50] gino-m commented on #539
Includes issue #168.

[2020-08-18 14:51] gino-m commented on #168
Merged in #539.

[2020-08-18 14:51] #168 closed

[2020-08-19 19:11] gino-m commented on #358
Misplaced comment moved to https://github.com/google/ground-platform/issues/251#issuecomment-676608382.

[2020-08-19 19:12] gino-m commented on #470
Could a subscription be getting disposed before the data is all written?

[2020-08-19 20:00] shobhitagarwal1612 commented on #470
I doubt that is the case. I am saying this because for all 87 features the Doc -> Feature conversion occurred but the result wasn't added to db. The entire list of features (from getFeaturesStream) is processed in a single batch and not one after another through upstream. So, if it was a case of premature disposal of subscription, then we wouldn't see all 87 conversions, right?
https://github.com/

[2020-08-19 20:29] gino-m commented on #470
Good point. Could some of the inserts be failing, and errors be getting eaten at some point?

[2020-08-19 20:47] #396 closed

[2020-08-20 04:54] sergeydolgov1 opened #567 "[Feature request] Add user name caption under that feature name to show who created it"
Add user name caption under that feature name on the feature sheet to show who created it

![image](https://user-images.githubusercontent.com/20148684/90718228-60254280-e27f-11ea-903e-6039eac2f2e6.png)

[2020-08-20 07:43] shobhitagarwal1612 commented on #470
If I block the thread after update/insert and run everything on main thread, then all entries get inserted as expected.

You were right, the subscription is getting disposed by the upstream before the entry gets inserted (added logs in onComplete, onSubscribe and onDisposed to validate this. only a few onComplete logs were visible before onDisposed was called)

I also found that `FeaturesCollectio

[2020-08-20 10:27] shobhitagarwal1612 commented on #470
I can't figure out what is missing here. It works only when the insert/update calls are blocking and on UI thread. Need help!

[2020-08-24 14:59] DaoyuT commented on #357
Example of the GeoJson to render https://storage.googleapis.com/mapsdevsite/json/google.json

[2020-08-26 10:33] dturner opened #570 "[Code health] Editor config doesn't match continuation indentation"
Android Studio uses `.editorconfig` file to format code, wrapping lines which are too long to look like this:

[code]

`checkstyle` then checks the formatting of that code, specifically using the `lineWrappingIndendation` [rule](https://github.com/google/ground-android/blob/master/third_party/checkstyle/google_checks.xml#L241) which fails because [2 spaces are added instead of 4](https://github.co

[2020-08-26 10:36] dturner opened #571 "[Code health] checkstyle reports indentation error when using @Rule annotation"
Consider the following code:

[code]

Running `checkstyle` on this returns an error:

[code]

This is not correct, since the indentation of both lines is correct (2 spaces).

[2020-08-26 10:49] dturner commented on #571
Workaround is to move `public` next to `HiltAndroidRule`:

[code]

Which is more readable in any case.

[2020-08-26 18:09] gino-m commented on #570
@dturner Is this also the case when using the `google-java-format` plugin?

[2020-08-26 18:10] gino-m commented on #571
Wouldn't we generally put the visibility modifiers (public) after the annotations?

[2020-08-26 22:36] sergeydolgov1 commented on #109
@shobhitagarwal1612 What question is blocking us?

[2020-08-27 13:44] dturner opened #572 "[Code health] Define happy paths for UI tests"
We should define the "happy paths" for UI tests to ensure maximum coverage. Examples/ideas:

The user can:

- select a default project the first time the app is run
- add a feature to the map [works offline as well]
- scroll to all extents of the map [works offline as well]
- download map tiles
- zoom in and zoom out fully and imagery is displayed at all levels [works offline if map tiles have bee

[2020-08-27 13:45] dturner commented on #572
@sergeydolgov1 Gino thought you'd be best placed to answer this.

[2020-08-27 18:09] sergeydolgov1 commented on #520
@gino-m @shobhitagarwal1612
Manage lines and polygons is part of Release Candidate, de-prioritized for MVP

[2020-08-27 20:45] gino-m commented on #572
I think the golden path would be as follows (in order):

1. Open app
2. Sign in
3. Select project
4. Select "offline areas" - select an area and press "Download", wait for download to complete*
5. Tap crosshairs button - accept required settings and permissions changes to enable GPS lock*
6. Go someplace where there's no signal*
7. Click "+" (Add feature), select a layer
8. Click "Add observation"

[2020-09-01 14:07] scolsen opened #573 "Downloaded Areas have a size of 0.0mb even when files are present on device"
## Description
The offline area list should accurately report the amount of space consumed by offline area tiles. Currently, it reports 0.0mb for all tiles.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Ground
2. Click on 'Offline Areas'
3. Click the plus icon to add a new area
4. Click download to download imagery for an area
5. After the download begins, select the area name from th

[2020-09-01 14:10] #539 closed

[2020-09-01 14:10] scolsen commented on #539
Confirmed WAI. Closed.

[2020-09-01 14:12] #494 closed

[2020-09-01 17:04] sergeydolgov1 commented on #572
@gino-m @dturner Gino's proposed path lgtm

[2020-09-01 17:31] #400 closed

[2020-09-04 05:36] #548 closed

[2020-09-05 17:41] shobhitagarwal1612 commented on #543
Hi @gino-m

I tried creating a [sample settings repository](https://github.com/shobhitagarwal1612/test_settings_repository) and it worked as expected. (Also sent you an invitation to check out the repo)

So, the next steps should be:

1. Create a new repository (preferably private) where we'll keep our IDE settings.
2. Enable `settings repository` under Preferences > Plugin
3. Set the URL from ste

[2020-09-05 17:53] shobhitagarwal1612 commented on #543
@gino-m Please ignore my last comment, it is still in progress. Some files were excluded during the sync which are a part of codeStyle.

[2020-09-07 14:32] dturner commented on #572
SGTM. I'll get working on that.

[2020-09-07 14:32] #572 closed

[2020-09-09 12:34] dturner opened #577 "[Code health] Create UI test for selecting a project"
ProjectDialogTest
===
Create UI tests based on the [happy path](https://github.com/google/ground-android/issues/572). This class should test the following behaviour:

**projectDialogIsShown**
Given: a user who has multiple projects
When: they log in for the first time
Then: the project dialog is displayed and contains a list of all their projects

**selectingAProjectSetsItAsDefault**
Given: a user

[2020-09-12 06:56] shobhitagarwal1612 commented on #543
If we save the codestyle in the IDE rather than project then it works!
https://github.com/shobhitagarwal1612/test_settings_repository/blob/master/codestyles/ground-android.xml

To apply the settings:
Preferences > Editor > Code Style > Click of "Scheme" drop-down > Select "ground-android" under Stored in IDE.

@gino-m
I have pushed the changes to my test settings repository. To test the changes:
1

[2020-09-13 16:28] shobhitagarwal1612 commented on #571
Is this still actionable or can it be closed?

[2020-09-13 17:00] shobhitagarwal1612 commented on #562
I tried to reproduce the bug but couldn't.
@dturner Were you able to reproduce it consistently or was it flaky?

[2020-09-21 18:29] #470 closed

[2020-09-21 19:00] #553 closed

[2020-09-21 19:00] #556 closed

[2020-09-21 20:26] gino-m commented on #543
We spoke - we can't rely on repos owned by individuals or other orgs, and the inconvenience this issue causes is minor, so I think we will skip this one for now. Thanks for looking into it!

[2020-09-21 20:26] #543 closed

[2020-09-21 20:27] gino-m commented on #571
@dturner? If not we can close it.

[2020-09-22 14:17] dturner commented on #571
It will be fixed as soon as the [UI tests PR](https://github.com/google/ground-android/pull/569) is merged.

[2020-09-24 05:57] #120 closed

[2020-09-24 05:57] #570 closed

[2020-09-28 05:34] #567 closed

[2020-09-28 15:58] dturner commented on #465
Fixed in #569.

[2020-09-28 15:58] #465 closed

[2020-09-29 14:33] #487 closed

[2020-09-29 14:48] gino-m commented on #482
@sergeydolgov1 @coreyleamon Hi! Could you kindly provide mocks on what the workflow would look like to repositioning a point?

[2020-09-29 14:50] gino-m commented on #109
@sergeydolgov1, @shobhitagarwal1612 and I just spoke; mocks would be ideal, but for expediency your above description is sufficient. Thanks for providing so much detail.

[2020-09-29 14:55] gino-m commented on #109
Some ideas for potential PRs:
- [ ] Add UI flow to reposition, add mutation to db.
- [ ] Implement "update" mutation on Features (update location).

[2020-10-01 02:20] diamondlee7 commented on #490
@shobhitagarwal1612 I would like to address this issue. Can you please assign it to me?

[2020-10-01 04:26] shobhitagarwal1612 commented on #490
Thanks @diamondlee7! Please go ahead.

[2020-10-05 04:48] arsundram commented on #490
Is it still available? If yes, I would like to work upon this issue.

[2020-10-05 05:59] shobhitagarwal1612 commented on #490
Hi @arsundram and welcome to the project! @diamondlee7 has already started working on this issue. But there are other [unassigned issues](https://github.com/google/ground-android/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee) that you can take a look at. Please don't hesitate to ping if you need assistance.
Cheers!

[2020-10-06 14:36] gino-m commented on #551
Need to verify w/data off.

[2020-10-06 14:40] gino-m commented on #481
Pending #540 (currently WIP).

[2020-10-06 14:42] gino-m commented on #357
Duplicate of #534.

[2020-10-06 14:42] #357 closed

[2020-10-06 14:44] gino-m commented on #50
ETA @dturner starting work on this Oct. 19, 2020.

[2020-10-06 15:11] gino-m commented on #486
This low priority but it irks me so I'll try to get this done in MVP Sprint 3, time permitting.

[2020-10-08 11:20] shobhitagarwal1612 commented on #557
I was unable to reproduce the bug. The options loaded consistently each time.
![Screenshot_1602155759](https://user-images.githubusercontent.com/8918023/95451677-c415de80-0985-11eb-86a7-cbb74e565767.png)

Please feel free to reopen the bug if it happens again.

[2020-10-08 11:20] #557 closed

[2020-10-08 14:42] gino-m commented on #557
Ok, let's see if it recurs during manual testing. Thanks!

[2020-10-08 16:38] shobhitagarwal1612 commented on #109
Starting working on this now.

[2020-10-09 18:16] rscottcarson commented on #363
Is this available to be worked on?

[2020-10-09 20:57] shobhitagarwal1612 commented on #363
Hello @rscottcarson and welcome to the project.
Yes, this is up for grabs. Please feel free to ask questions if you need any kind of help!

[2020-10-12 13:43] gino-m commented on #363
@rscottcarson Thanks for taking this on! You may need to do a small update to the interface of our map adapter, the layer that abstracts the details of Google Maps API away from the application. As @shobhitagarwal1612 says, please feel free to ask us anything!

[2020-10-15 01:03] gino-m opened #588 "[CI] Builds failing with 'repository 'tmp' does not exist'"
On GCB #585 was failing with:
[code]

I tried pushing a no-op change and received the same error in #587.

I deleted all caches in Cloud Storage, and now builds fail with:
[code]

I tried rebuilding the image with `gcloud builds submit --config=cloudbuild.yaml --substitutions=_ANDROID_VERSION=28` and received the same error.

@shobhitagarwal1612 could you kindly take a look or point me in the righ

[2020-10-15 10:01] shobhitagarwal1612 commented on #588
I see the following error when running the remote builds.

`Caught non-retryable exception while listing gs://gradle_cache_bucket/: BucketNotFoundException: 404 gs://gradle_cache_bucket bucket does not exist.`

For some reason the bucket where we store our build cache no longer exists. Recreating that should fix the problem.
But why did it get removed automatically? Thoughts?

[2020-10-15 10:03] shobhitagarwal1612 commented on #588
I also can't see `artifact_bucket` where we store our build reports. @gino-m Can you see the buckets?

[2020-10-15 10:33] shobhitagarwal1612 commented on #588
I think they got deleted and it is not a problem of visibility.
Created both buckets.

[2020-10-15 10:41] shobhitagarwal1612 commented on #588
Getting new errors now:

[code]

[2020-10-15 10:41] shobhitagarwal1612 commented on #588
Publishing a fresh docker image

[2020-10-15 13:31] #588 closed

[2020-10-15 21:04] #109 closed

[2020-10-16 15:06] gino-m opened #592 "[Location lock] Crosshairs lags behind blue dot on map when walking"
To repro, load https://www.gpsvisualizer.com/examples/google_gpx.html in emulator and play back at 1x speed, enabling location lock.

![Screenshot_1602860690.png](https://images.zenhubusercontent.com/5f062d0f25250e63f9559a02/5678abe9-67ba-4aa6-acaf-286e08cdd1a3)

[2020-10-16 15:07] gino-m opened #593 "[Location lock] Location lock fab not updating when lock is enabled"
To repro, tap the location lock button shown on the map above the "+" fab. The map follows the current location, but the fab does not turn blue as expected.
![Screenshot_1602860690](https://user-images.githubusercontent.com/228050/96275475-c688c180-0f9f-11eb-8e5c-65dc1367bf43.png)

[2020-10-16 15:09] gino-m commented on #551
Could not reproduce in an emulator; map followed blue dot in airplane mode, as well as when Wifi and Mobile data were turned off independently. Let's reopen if this occurs during manual testing on real devices.